// tablets, laptops, desktops
// Tablets like the iPad (1024x768) held in landscape mode,
// as well as certain laptop, netbook, and desktop displays
// (commented out, since it's the default context)
@media screen and (min-width: 769px) and (max-width: 1200px)
  // redefine grid variables for this context
  $total-cols             : 20
  $col-width              : 4em
  $gutter-width           : 1em
  $side-gutter-width      : 0em//$gutter-width
  // @debug columns-width()
  // YOUR STYLES BELOW
  #page
    +container
    //+susy-grid-background
    #topmenu
      +full
    #topbanner
      +columns(20)
      +alpha
      #logo
        +columns(2,20)
      #masthead
        +columns(16,20)
      #gravatar
        +columns(2,20)
        +omega(20)
    #mainmenu
      +full
    div[role="main"]
      +columns(20)
      +alpha
      #splitcontentleft
        +columns(10,20)
      #splitcontentright
        +columns(10,20)
        +omega(20)
    footer
      +full
