// mobile horizontal (iphone)
// small screen devices, like phones, held in landscape mode
@media screen and (min-width: 321px) and (max-width: 480px)
  // redefine grid variables for this context
  $total-cols             : 6
  $col-width              : 4em  
  $gutter-width           : 1em
  $side-gutter-width      : 0em//$gutter-width
  // @debug columns-width()
  // YOUR STYLES BELOW
  #page
    +container
    //+susy-grid-background
    #topmenu
      +full
    #topbanner
      +columns(6)
      +alpha
      #logo
        +columns(1,6)
      #masthead
        +columns(4,6)
      #gravatar
        +columns(1,6)
        +omega(6)
    #mainmenu
      +full
    div[role="main"]
      +columns(6)
      +alpha
      #splitcontentleft
        +columns(3,6)
      #splitcontentright
        +columns(3,6)
        +omega(6)
    footer
      +full
