body
  margin-top: 48px

hr
  background: $border-color 
  color: $border-color
  width: 100% 
  border: none
  height: 1px

#bugitor-logo
  float: left
  position: relative
  top: 4px
  left: 4px

#toc
  float: right
  width: 100%
  +no-bullets

.note
  font-size: smaller
  font-style: italic
  .required
    color: $red

.notice
  padding: .8em
  margin-bottom: 1em
  border: 2px solid #FFD324
  background: #FFF6BF
  color: #514721
  
.centered
  text-align: center
  margin-top: 22px
  line-height: 6px

.contextual
  position: relative
  float: right

.floatrightup
  //display: block
  float: right
  position: relative
  top: 0.85em

.floatright
  float: right
  position: relative
  bottom: 32px

.contextual_left
  float: left
  line-height: 1.4em
  margin-top: 5px
  padding-right: 10px

.lowered
  top: 20px

#codemenu
  padding: 4px 10px 2px 10px
  /*    background-color:#507AAA;
  margin: 0
  ul
    margin: 0px
    margin: 0
    bottom: 0px
    padding-top: 6.0px !important
    padding-bottom: 6.0px !important
    li
      padding: 0
      display: inline
      margin: 0
      bottom: 0px
      a
        /*    color:#ffffff;
        /*    background-color:#507AAA;
        font-size: 1.2em
        /*    font-weight:bold;
        text-decoration: none
        padding: 5px 8px
        padding-top: 6.0px !important
        padding-bottom: 6px !important
        bottom: 0px
      &.active a
        /*    color: #6399cd;
        /*    background-color:#EFF4FA;
        font-weight: bold
        text-decoration: none
        bottom: 0px
        padding-bottom: 6px !important
      a:hover
        /*    color: #fff;
        /*    background-color:#759FCF;
        text-decoration: underline
        bottom: 0px

.simplebox
  padding: 10px 10px
  margin-bottom: 1em
  border: 1px solid $border-color

.box
  @extend .simplebox
  +border-radius(5px)
  $shadow: 0 2px 3px darken($border-color, 20%), inset 0 -1px 0 rgba(0, 0, 0, 0.1)
  +box-shadow($shadow)
  //+box-shadow(0px 3px 3px rgba(0, 0, 0, 0.4))

div.issue
  background: $issue-background-color
  padding: 6px
  margin-bottom: 6px
  border: 1px solid $border-color
  //$shadow: 0 1px 3px $border-color, inset 0 -1px 0 rgba(0, 0, 0, 0.1)
  //+box-shadow($shadow)
  +box-shadow(0px 2px 3px rgba(0, 0, 0, 0.4))
  +border-radius(5px)

a.issue.closed, a.issue.closed:link, a.issue.closed:visited
  color: #999999
  text-decoration: line-through

.keep-together
  white-space: nowrap !important

#content .tabs
  +tabs

.journal
  clear: left
  ul
    position: relative
    width: 30%
    margin: 0 0 20px 20px
    padding: 2px 2px 2px 10px
    right: 20px
    //top: -10px
    background: $matisse
    +border-radius(5px)
    +box-shadow(0px 2px 2px rgba(0, 0, 0, 0.5))
    color: $white
    +no-bullets
  h5
    margin-bottom: 2px
    margin-top: 1.5em
  hr
    clear: left

div#issue-changesets
  float: right
  width: 45%
  margin-left: 1em
  margin-bottom: 1em
  background: #fff
  padding-left: 1em
  font-size: 90%
  .changeset
    padding: 4px
    border-bottom: 1px solid $border-color
    p
      margin-top: 0
      margin-bottom: 1em

/* FULL WIDTH TABLE (used in Source and Overview)

table.maintable
  margin: 12px 0
  width: 100%
  border: 1px solid #ddd
  border-collapse: collapse
  th, td
    border-style: solid
    border-color: #ddd
    padding: 0.75em 10px 0.75em 20px
    /* cells should have 10px left and right padding...
     *   except the leftmost, which should have 20 and 10...
     *     and the rightmost, which should have 10 and 20
  th+th, td+td
    padding-left: 10px
  td
    font: 12px / 1.5em "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace

#issues-list table.maintable
  td
    font: inherit
  a
    color: #525252

table.maintable
  th
    font-weight: bold
    line-height: 18px
    text-shadow: 0 1px 0 #fff
  thead tr
    background: #eee
  tbody tr:nth-child(even)
    background: #fcfcfc
  th, td
    border-bottom: 1px solid #ddd

/* STANDARD LAYOUT-BOX

.layout-box
  border: 1px solid #ddd
  padding: 15px 24px

/* SHORTLOG/OVERVIEW

#strip-repository
  th
    width: 158px
  th+th
    width: 80px
  th+th+th
    width: 480px
  th+th+th+th
    width: 110px
    padding-right: 20px

#shortlogs-changes
  th
    width: 158px
  th+th
    width: 80px
  th+th+th
    width: 480px
  th+th+th+th
    width: 32px
    padding-left: 0
    padding-right: 0
    text-indent: -9999px
    background: sprite($icons-sprites, add, 8, 10) no-repeat
  th+th+th+th+th
    background: sprite($icons-sprites, edit, 8, 10) no-repeat
  th+th+th+th+th+th
    background: sprite($icons-sprites, delete, 8, 10) no-repeat
  td+td+td+td
    padding-left: 0
    padding-right: 0
    text-indent: -9999px
    text-indent: inherit
    text-align: center
    color: #282
  td+td+td+td+td
    color: #b70
  td+td+td+td+td+td
    color: #c33
    padding-right: 12px

#strip-repository img
  float: left
  margin: 0 9px 0 0
  width: 16px
  height: 16px
  border: 1px solid #ddd

#shortlogs-changes
  img
    float: left
    margin: 0 9px 0 0
    width: 16px
    height: 16px
    border: 1px solid #ddd
  .commented
    background: url(../img/icons/fugue/balloon_left.png) no-repeat 50%
  input[type="radio"]
    float: left
    margin: 3px 3px 3px -16px

.diff-radio input
  margin: 0
  padding: 0

.changes-added, .changes-modified, .changes-removed
  display: block
  float: right
  width: 15px
  border: 1px solid #ddd
  text-align: center
  font-size: 0.75em

.changes-added, .changes-modified
  border-right: 0 !important

.changes-removed, .changes-modified
  border-left: 0 !important

.changes-added
  background: #bfb
  text-align: center

.changes-modified
  background: #fd8
  text-align: center

.changes-removed
  background: #f88
  text-align: center

/* CHANGESETS

.changesets-date
  margin: 0 auto
  border-bottom: 0
  background: white url(../img/layout/bg_general.png) repeat-x left top
  padding: 10px 20px !important
  font-weight: bold
  font-size: 1.1em

.changeset-description
  margin-bottom: 10px
  width: 710px
  white-space: pre-wrap

#content h2.changesets
  margin: 0
  padding: 12px 0 10px 20px

#changesets-graph
  position: relative
  float: left
  margin-top: 20px
  margin-left: -140px

#changesets-inner
  margin: 0 0 10px
  h3
    margin: -1px 0 0 !important
    border: 1px solid #ddd
    background: #eee
    padding: 10px 20px

#changesets-inner>ol
  font: 12px / 1.5em "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace

#changesets-inner>ol>li
  margin: -1px 0 0
  border: 1px solid #ddd
  padding: 10px 300px 10px 20px

#changesets-inner > ol > li:nth-child(even)
  background: #fcfcfc

.shortlog_relations
  float: right
  margin: 0 -280px 0 0
  text-align: right
  dt
    clear: left
    float: left
    width: 100px
    text-align: right
    color: #747474
    &:after
      content: ":"
  dd
    float: left
    margin: 0 0 0 0.5em

.relations
  float: right
  margin: 0 0 0 0
  text-align: right
  dt
    clear: left
    float: left
    width: 100px
    text-align: right
    color: #747474
    &:after
      content: ":"
  dd
    float: left
    margin: 0 0 0 0.5em

#changesets-inner h4
  position: absolute
  left: -9999px

#changelog
  &.added, &.modified, &.removed
    float: right
    width: 32px
    height: 36px
  &.added
    background: sprite($icons-sprites, add, 0, 10) no-repeat
  &.modified
    padding-left: 17px
    background: sprite($icons-sprites, edit, 0, 10) no-repeat
  &.removed
    background: sprite($icons-sprites, delete, 0, 10) no-repeat
    margin-right: 201px

.files-affected
  float: right
  margin: 0 -100px 0 0
  width: 96px
  overflow: hidden
  dt
    position: absolute
    left: -9999px
  dd
    float: left
    width: 32px
    text-align: center
    &[title="Added"]
      color: #282
    &[title="Modified"]
      color: #b70
    &[title="Removed"]
      color: #c33

#source-summary>p
  white-space: pre-wrap

#source-summary+p
  margin: 0 0 0 21px

#changesets-inner p, #source-summary p
  margin: 0.25em 0 0.5em
  width: 600px
  line-height: inherit

#changesets-inner .metadata, #source-summary .metadata
  position: relative
  margin: 0.5em 0 0
  min-height: 34px
  padding: 2px 0 2px 45px
  font-family: Helvetica, Arial, sans-serif

#changesets-inner .metadata dt, #source-summary .metadata dt
  position: absolute
  left: -9999px

#changesets-inner .metadata .avatar, #source-summary .metadata .avatar
  position: absolute
  left: -3px
  top: 0

#changesets-inner .metadata dd[title], #source-summary .metadata dd:last-child
  color: #747474

#changesets-inner
  li
    position: relative
  .metadata+p
    position: absolute
    right: 220px
    bottom: 12px
    display: block
    width: auto

.changesets-changeset
  margin: 0 auto -1px
  font: 12px / 16px "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace
  h4
    font-weight: bold
    font-size: 1em
  span
    font-family: "Lucida Grande", "Trebuchet MS", Tahoma, Arial, sans-serif

#changesets-footer
  margin: 0 auto

#content
  &.added, &.modified, &.removed
    float: right
    width: 32px
    height: 36px
  &.added
    padding-left: 17px
    background: sprite($icons-sprites, add, 0, 10) no-repeat
  &.modified
    padding-left: 17px
    background: sprite($icons-sprites, edit, 0, 10) no-repeat
  &.removed
    background: sprite($icons-sprites, delete, 0, 10) no-repeat
    margin-right: 201px

.files-affected
  float: right
  margin: 0 -100px 0 0
  width: 96px
  overflow: hidden
  dt
    position: absolute
    left: -9999px
  dd
    float: left
    width: 32px
    text-align: center
    &[title="Added"]
      color: #282
    &[title="Modified"]
      color: #b70
    &[title="Removed"]
      color: #c33

#source-summary>p
  white-space: pre-wrap

#source-summary+p
  margin: 0 0 0 21px

#changesets-inner p, #source-summary p
  margin: 0.25em 0 0.5em
  width: 600px
  line-height: inherit

#changesets-inner .metadata, #source-summary .metadata
  position: relative
  margin: 0.5em 0 0
  min-height: 34px
  padding: 2px 0 2px 45px
  font-family: Helvetica, Arial, sans-serif

#changesets-inner .metadata dt, #source-summary .metadata dt
  position: absolute
  left: -9999px

#changesets-inner .metadata .avatar, #source-summary .metadata .avatar
  position: absolute
  left: -3px
  top: 0

#changesets-inner .metadata dd[title], #source-summary .metadata dd:last-child
  color: #747474

#changesets-inner
  li
    position: relative
  .metadata+p
    position: absolute
    right: 220px
    bottom: 12px
    display: block
    width: auto

.changesets-changeset
  margin: 0 auto -1px
  font: 12px / 16px "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace
  h4
    font-weight: bold
    font-size: 1em
  span
    font-family: "Lucida Grande", "Trebuchet MS", Tahoma, Arial, sans-serif

#changesets-footer
  margin: 0 auto

ol, ul
  list-style: none

#changelog, #introduction>div
  margin: 0 auto
  width: 930px

#source-summary table td, .changesets-changeset table td
  padding: 0 4px 4px

/*p {
 *    line-height: 21px;
 *}

.metadata img.gravatar
  margin: 0 auto -1px
  float: left
  position: relative
  left: -45px
  bottom: 35px

/* CHANGE TYPES

.change-modified
  background: sprite($icons-sprites, edit, 0, 4) no-repeat
  padding: 2px 0 2px 20px

.change-added
  background: sprite($icons-sprites, add, 0, 4) no-repeat
  padding: 2px 0 2px 20px

.change-removed
  background: sprite($icons-sprites, delete, 0, 4) no-repeat
  padding: 2px 0 2px 20px
