body
  margin-top: 48px

hr
  background: $border-color 
  color: $border-color
  width: 100% 
  border: none
  height: 1px


.note
  font-size: smaller
  font-style: italic
  .required
    color: $red

.centered
  text-align: center
  margin-top: 22px
  line-height: 6px

.contextual
  position: relative
  float: right
  white-space: nowrap

.box
  padding: 10px 10px
  margin-bottom: 1em
  border: 1px solid $border-color
  +border-radius(5px)

div.issue
  background: $issue-background-color
  padding: 6px
  margin-bottom: 6px
  border: 1px solid $border-color

a.issue.closed, a.issue.closed:link, a.issue.closed:visited
  color: #999999
  text-decoration: line-through

.keep-together
  white-space: nowrap !important

#content .tabs
  +tabs
