body
  margin-top: 48px

.note
  font-size: smaller
  font-style: italic
  .required
    color: $red

.centered
  text-align: center
  margin-top: 22px
  line-height: 6px

.contextual
  float: right
