-use dektrium\user\models\User
-use yii\helpers\Html
-use yii\helpers\Url
-use kartik\markdown\Markdown
-$view->title=Yii::t('app','Overview')
!=$view->render('partials/_menu', ['identifier' => $model->identifier])
.col-md-6
  .panel.panel-default
    .panel-heading
      h3.panel-title
        i.fa.fa-rocket
        !=$model->name
    .panel-body
      .media
        .media-left
          !=Html::img('/uploads/' . $model->logo)
        .media-body
          h4.media-heading
            !=$model->name
          !=Markdown::convert($model->description)
  .panel.panel-default
    .panel-heading
      h3.panel-title
        i.fa.fa-map
        |Roadmap
    .panel-body
    .panel-footer
      !=Html::a(Yii::t('app', 'View the entire roadmap'), ['project/roadmap', 'identifier' => $model->identifier])
.col-md-6
  .panel.panel-default
    .panel-heading
      h3.panel-title
        i.fa.fa-users
        |Members
    .panel-body
      div
        -foreach ($model->members as $member) {
          |Administrator: 
          if $member->role == 'Administrator'
            !=Html::a(Yii::t('app',(User::findIdentity($member->user_id)->profile->name != '') ? User::findIdentity($member->user_id)->profile->name : User::findIdentity($member->user_id)->username), Url::to(['/user/profile', 'id' => $member->user_id]))
        -}
      div
        -foreach ($model->members as $member) {
          |Contributor:
          if $member->role == 'Contributor'
            !=Html::a(Yii::t('app',User::findIdentity($member->user_id)->username), Url::to(['/user/profile', 'id' => $member->user_id]))
        -}
  .panel.panel-default
    .panel-heading
      h3.panel-title
        i.fa.fa-ticket
        |Issues
    .panel-body
    .panel-footer
      !=Html::a(Yii::t('app', 'View all issues'), ['project/issues', 'identifier' => $model->identifier])
  .panel.panel-default
    .panel-heading
      h3.panel-title
        i.fa.fa-clock-o
        |Recent activity
    .panel-body
    .panel-footer
      !=Html::a(Yii::t('app', 'View all activity'), ['project/activity', 'identifier' => $model->identifier])
