-use yii\helpers\Html
-$view->title=Yii::t('app','Settings')
//-use kartik\detail\DetailView
//-use kartik\markdown\Markdown
!=$view->render('partials/_menu', ['identifier' => $model->identifier])

.col-md-6
  //-!=DetailView::widget($options)
.col-md-6
  .panel.panel-default
    .panel-heading
      h3.panel-title
        i.fa.fa-users
        |Members
    .panel-body
    .panel-footer
  .panel.panel-default
    .panel-heading
      h3.panel-title
        i.fa.fa-thumb-tack
        |Milestones
    .panel-body
    .panel-footer
  .panel.panel-default
    .panel-heading
      h3.panel-title
        i.fa.fa-map-signs
        |Issue categories
    .panel-body
    .panel-footer
    
