-use yii\helpers\Html
-$view->title = empty($profile->name) ? Html::encode($profile->user->username) : Html::encode($profile->name)
-$view->params['breadcrumbs'][] = $view->title
.row
  .col-xs-12.col-sm-6.col-md-6
    .row
      .col-sm-6.col-md-4
        img.img-rounded.img-responsive(src="http://gravatar.com/avatar/"$profile->gravatar_id"?s=230", alt="")
      .col-sm-6.col-md-8
        h4 #{$view->title}
        ul(style="padding: 0; list-style: none outside none;")
          if (!empty($profile->location))
            li
              i.glyphicon.glyphicon-map-marker.text-muted
              !=Html::encode($profile->location)
          if (!empty($profile->website))
            li
              i.glyphicon.glyphicon-globe.text-muted
                !=Html::a(Html::encode($profile->website), Html::encode($profile->website))
          if (!empty($profile->public_email))
            li
              i.glyphicon.glyphicon-envelope.text-muted
                !=Html::a(Html::encode($profile->public_email), 'mailto:' . Html::encode($profile->public_email))
          li
            i.glyphicon.glyphicon-time.text-muted
              !=Yii::t('user', 'Member since {0, date}', $profile->user->created_at)
        if (!empty($profile->bio))
          p
            !=Html::encode($profile->bio)
