-use yii\helpers\Html
-use yii\helpers\Url
-$view->title = empty($profile->name) ? Html::encode($profile->user->username) : Html::encode($profile->name)
-$view->params['breadcrumbs'][] = $view->title
-$gravatar_url ="http://gravatar.com/avatar/".$profile->gravatar_id."?s=230"
-$view->beginBlock('content-header')
|#{$view->title} <small>(#{$profile->user->username})</small>
-$view->endBlock()
.row
  .col-xs-12.col-sm-6.col-md-6
    .row
      .col-sm-6.col-md-4
        img.img-rounded.img-responsive(src=$gravatar_url, alt="")
      .col-sm-6.col-md-8
        ul(style="padding: 0; list-style: none outside none;")
          if (!empty($profile->location))
            li
              p
                i.glyphicon.glyphicon-map-marker.text-muted
                !=Html::encode($profile->location)
          if (!empty($profile->website))
            li
              p
                i.glyphicon.glyphicon-globe.text-muted
                !=Html::a(Html::encode($profile->website), Html::encode($profile->website))
          if (!empty($profile->public_email))
            li
              p
                i.glyphicon.glyphicon-envelope.text-muted
                !=Html::a(Html::encode($profile->public_email), 'mailto:' . Html::encode($profile->public_email))
          li
            p
              i.glyphicon.glyphicon-time.text-muted
              !=Yii::t('user', 'Member since {0, date}', $profile->user->created_at)
        if (!empty($profile->bio))
          p
            !=Html::encode($profile->bio)
        hr
        !=Html::a('Edit profile', Url::to('/user/settings/profile'))
