#changelog>html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
/*	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;*/
/*	vertical-align: baseline;*/
}


#sidebar
{
    padding: 20px 20px 20px 0;
}

#mainmenu
{
    padding: 4px 10px 2px 10px;
    background-color:#507AAA;
    margin: 0;
}

#codemenu
{
    padding: 4px 10px 2px 10px;
/*    background-color:#507AAA;*/
    margin: 0;
}
#codemenu ul
{
    margin:0px;
    margin: 0;
    bottom: 0px;
    padding-top: 6.0px !important;
    padding-bottom: 6.0px !important;
}
#codemenu ul li
{
    padding: 0;
    display: inline;
    margin: 0;
    bottom: 0px;
}
#codemenu ul li a
{
/*    color:#ffffff;*/
/*    background-color:#507AAA;*/
    font-size:1.2em;
/*    font-weight:bold;*/
    text-decoration:none;
    padding:5px 8px;
    padding-top: 6.0px !important;
    padding-bottom: 6px !important;
    bottom: 0px;
}
#codemenu ul li.active a
{
/*    color: #6399cd;*/
/*    background-color:#EFF4FA;*/
    font-weight:bold;
    text-decoration:none;
    bottom: 0px;
    padding-bottom: 6px !important;
}
#codemenu ul li a:hover
{
/*    color: #fff;*/
/*    background-color:#759FCF;*/
    text-decoration:underline;
    bottom: 0px;
}

#topmenu
{
    padding: 4px 10px 2px 10px;
    background-color:black !important;
    margin: 0;
}

#mainmenu ul
{
    margin:0px;
    margin: 0;
    bottom: 0px;
    padding-bottom: 0px !important;
}

#topmenu ul
{
    margin:0px;
    margin: 0;
    bottom: 0px;
}

#mainmenu ul li
{
    padding: 0;
    display: inline;
    margin: 0;
    bottom: 0px;
}

#topmenu ul li
{
    padding: 0;
    display: inline;
    margin: 0;
    bottom: 0px;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:#507AAA;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
    padding-bottom: 6px !important;
    bottom: 0px;
}

#topmenu ul li a
{
    color:#ffffff;
    background-color:black;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
    bottom: 0px;
}

#mainmenu ul li.active a
{
    color: #6399cd;
    background-color:#EFF4FA;
    text-decoration:none;
    bottom: 0px;
    padding-bottom: 6px !important;
}

#topmenu ul li.active a
{
    color: #fff;
    background-color:black;
    text-decoration:none;
    font-weight: bold;
    font-style: italic;
    bottom: 0px;
}

#mainmenu ul li a:hover
{
    color: #fff;
    background-color:#759FCF;
    text-decoration:none;
    bottom: 0px;
}

#topmenu ul li a:hover
{
    color: #fff;
    /*background-color:#759FCF;*/
    text-decoration:underline;
    font-weight: bold;
    bottom: 0px;
}

#content {
    font-size: 13px;
    padding: 20px;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}

div.issue {background:#ffffdd; padding:6px; margin-bottom:6px;border: 1px solid #d7d7d7;}

img.gravatar {
    padding: 2px;
    border: solid 1px #d5d5d5;
    background: #fff;
}

div.issue img.gravatar {
    float: right;
    margin: 0 0 0 1em;
    padding: 5px;
}

div.issue span img.gravatar {
    height: 14px;
    width: 14px;
    padding: 2px;
    float: left;
    margin: 0 0.5em 0 0;
}

#history img.gravatar {
    padding: 3px;
    margin: 0 1.5em 1em 0;
    float: left;
}

td.username img.gravatar {
    float: left;
    margin: 0 1em 0 0;
}

#activity dt img.gravatar {
    float: left;
    margin: 0 1em 1em 0;
}

h1.alt {color: #ffffff;}
h2 {font-size: 20px;padding: 2px 10px 1px 0px;margin: 0 0 10px 0; border-bottom: 1px solid #bbbbbb; color: #444;}
h3 {font-size: 16px;padding: 2px 10px 1px 0px;margin: 0 0 10px 0; border-bottom: 1px solid #bbbbbb; color: #444;}
h4 {font-size: 13px;padding: 2px 10px 1px 0px;margin-bottom: 5px; border-bottom: 1px dotted #bbbbbb; color: #444;}

.floatrightup {float:right; white-space: nowrap; position:relative; bottom:38px}
.floatright {float:right; white-space: nowrap; position:relative; bottom:32px}
.contextual {float:right; white-space: nowrap; line-height:1.4em;margin-top:5px; padding-left: 10px; font-size:0.9em;}
.contextual_left {float:left; white-space: nowrap; line-height:1.4em;margin-top:5px; padding-right: 10px; font-size:0.9em;}

/***** Links *****/
a, a:link, a:visited{ color: #2A5685; text-decoration: none; }
a:hover, a:active{ text-decoration: underline;}
a img{ border: 0; }

a.issue.closed, a.issue.closed:link, a.issue.closed:visited {
    color:#999999;
    text-decoration:line-through;
}
/***** Tables *****/
table.list { border: 1px solid #e4e4e4;  border-collapse: collapse; width: 100%; margin-bottom: 4px; }
table.list th {  background-color:#EEEEEE; padding: 4px; white-space:nowrap; }
table.list td { vertical-align: top; }
table.list td.id { width: 2%; text-align: center;}
table.list td.checkbox { width: 15px; padding: 0px;}

tr.issue { text-align: center; white-space: nowrap; }
tr.issue td.subject, tr.issue td.category, td.assignedto { white-space: normal; }
tr.issue td.subject { text-align: left; }
tr.issue td.done_ratio table.progress { margin-left:auto; margin-right: auto;}

tr.entry { border: 1px solid #f8f8f8; }
tr.entry td { white-space: nowrap; }
tr.entry td.filename { width: 30%; }
tr.entry td.size { text-align: right; font-size: 90%; }
tr.entry td.revision, tr.entry td.author { text-align: center; }
tr.entry td.age { text-align: right; }

tr.entry span.expander {background-image: url(../images/bullet_toggle_plus.png); padding-left: 8px; margin-left: 0; cursor: pointer;}
tr.entry.open span.expander {background-image: url(../images/bullet_toggle_minus.png);}
tr.entry.file td.filename a { margin-left: 16px; }

tr.changeset td.author { text-align: center; width: 15%; }
tr.changeset td.committed_on { text-align: center; width: 15%; }

tr.message { height: 2.6em; }
tr.message td.last_message { font-size: 80%; }
tr.message.locked td.subject a { background-image: url(../images/locked.png); }
tr.message.sticky td.subject a { background-image: url(../images/sticky.png); font-weight: bold; }

tr.user td { width:13%; }
tr.user td.email { width:18%; }
tr.user td { white-space: nowrap; }
tr.user.locked, tr.user.registered { color: #aaa; }
tr.user.locked a, tr.user.registered a { color: #aaa; }

tr.time-entry { text-align: center; white-space: nowrap; }
tr.time-entry td.subject, tr.time-entry td.comments { text-align: left; white-space: normal; }
td.hours { text-align: right; font-weight: bold; padding-right: 0.5em; }
td.hours .hours-dec { font-size: 0.9em; }

table.plugins td { vertical-align: middle; }
table.plugins td.configure { text-align: right; padding-right: 1em; }
table.plugins span.name { font-weight: bold; display: block; margin-bottom: 6px; }
table.plugins span.description { display: block; font-size: 0.9em; }
table.plugins span.url { display: block; font-size: 0.9em; }

table.list tbody tr:hover { background-color:#ffffdd; }
table td {padding:2px;}
table p {margin:0;}
/*.odd {background-color:#f6f7f8;}*/
/*.even {background-color: #fff;}*/

.highlight { background-color: #FCFD8D;}
.highlight.token-1 { background-color: #faa;}
.highlight.token-2 { background-color: #afa;}
.highlight.token-3 { background-color: #aaf;}

/***** Progress bar *****/
table.progress {
    border: 1px solid #D7D7D7 !important;
    border-collapse: collapse;
    border-spacing: 0pt;
    empty-cells: show;
    text-align: center;
    float:left;
    margin: 1px 6px 1px 0px;
}

table.progress td { height: 0.9em; border: 1px solid #D7D7D7 !important; }
table.progress td.closed { background: #BAE0BA none repeat scroll 0%; }
table.progress td.done { background: #fdee99 none repeat scroll 0%; }
table.progress td.open { background: #FFF none repeat scroll 0%; }
span.pourcent {font-size: 80%; position: relative; bottom: 3px;}
p.progress-info {clear: left; font-style: italic; font-size: 80%;}

/***** Big Progress bar *****/
table.big_progress {
    border: 1px solid #D7D7D7;
    border-collapse: collapse;
    border-spacing: 0pt;
    empty-cells: show;
    text-align: center;
    float:left;
    margin: 1px 6px 1px 0px;
}

table.big_progress td { height: 1.4em; }
table.big_progress td.closed { background: /*#99cc66*/#BAE0BA none repeat scroll 0%; }
table.big_progress td.done { background: #fdee99/*#DEF0DE*/ none repeat scroll 0%; }
table.big_progress td.open { background: #FFF none repeat scroll 0%; }
span.big_pourcent {font-size: 100%;}
/*div.big_progress-info {clear: left; font-style: italic; font-size: 90%; position: relative; bottom: 38px; }*/
div.big_progress-info {clear: left; font-style: italic; font-size: 90%; }

/***** Icons *****/
.icon {
    background-position: 0% 40%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.icon22 {
    background-position: 0% 40%;
    background-repeat: no-repeat;
    padding-left: 26px;
    line-height: 22px;
    vertical-align: middle;
}

.icon-add { background-image: url(../images/add.png); }
.icon-edit { background-image: url(../images/edit.png); }
.icon-copy { background-image: url(../images/copy.png); }
.icon-del { background-image: url(../images/delete.png); }
.icon-move { background-image: url(../images/move.png); }
.icon-save { background-image: url(../images/save.png); }
.icon-cancel { background-image: url(../images/cancel.png); }
.icon-file { background-image: url(../images/file.png); }
.icon-folder { background-image: url(../images/folder.png); }
.open .icon-folder { background-image: url(../images/folder_open.png); }
.icon-package { background-image: url(../images/package.png); }
.icon-home { background-image: url(../images/home.png); }
.icon-user { background-image: url(../images/user.png); }
.icon-mypage { background-image: url(../images/user_page.png); }
.icon-admin { background-image: url(../images/admin.png); }
.icon-projects { background-image: url(../images/projects.png); }
.icon-help { background-image: url(../images/help.png); }
.icon-attachment  { background-image: url(../images/attachment.png); }
.icon-index  { background-image: url(../images/index.png); }
.icon-history  { background-image: url(../images/history.png); }
.icon-time  { background-image: url(../images/time.png); }
.icon-stats  { background-image: url(../images/stats.png); }
.icon-warning  { background-image: url(../images/warning.png); }
.icon-fav  { background-image: url(../images/fav.png); }
.icon-fav-off  { background-image: url(../images/fav_off.png); }
.icon-reload  { background-image: url(../images/reload.png); }
.icon-lock  { background-image: url(../images/locked.png); }
.icon-unlock  { background-image: url(../images/unlock.png); }
.icon-checked  { background-image: url(../images/true.png); }
.icon-details  { background-image: url(../images/zoom_in.png); }
.icon-report  { background-image: url(../images/report.png); }
.icon-comment  { background-image: url(../images/comment.png); }

.icon22-projects { background-image: url(../images/22x22/projects.png); }
.icon22-users { background-image: url(../images/22x22/users.png); }
.icon22-tracker { background-image: url(../images/22x22/tracker.png); }
.icon22-role { background-image: url(../images/22x22/role.png); }
.icon22-workflow { background-image: url(../images/22x22/workflow.png); }
.icon22-options { background-image: url(../images/22x22/options.png); }
.icon22-notifications { background-image: url(../images/22x22/notifications.png); }
.icon22-authent { background-image: url(../images/22x22/authent.png); }
.icon22-info { background-image: url(../images/22x22/info.png); }
.icon22-comment { background-image: url(../images/22x22/comment.png); }
.icon22-package { background-image: url(../images/22x22/package.png); }
.icon22-settings { background-image: url(../images/22x22/settings.png); }
.icon22-plugin { background-image: url(../images/22x22/plugin.png); }

.splitcontentleft{float:left; width:49%;}
.splitcontentright{float:right; width:49%;}

.halfsplitcontentleft{float:left; width:75%;}
.halfsplitcontentright{float:right; width:15%;}

/***** Tabs *****/
#content .tabs {height: 2.6em; border-bottom: 1px solid #bbbbbb; margin-bottom:1.2em; position:relative;}
#content .tabs ul {margin:0; position:absolute; bottom:-2px; padding-left:1em;}
#content .tabs>ul { bottom:-1px; } /* others */
#content .tabs ul li {
    float:left;
    list-style-type:none;
    white-space:nowrap;
    margin-right:8px;
    background:#fff;
}
#content .tabs ul li a{
    display:block;
    font-size: 0.9em;
    text-decoration:none;
    line-height:1.3em;
    padding:4px 6px 4px 6px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbbbbb;
    background-color: #eeeeee;
    color:#777;
    font-weight:bold;
}

#content .tabs ul li a:hover {
    background-color: #ffffdd;
    text-decoration:none;
}

#content .tabs ul li a.selected {
    background-color: #fff;
    border: 1px solid #bbbbbb;
    border-bottom: 1px solid #fff;
}

#content .tabs ul li a.selected:hover {
    background-color: #fff;
}

.nodata, .warning {
    text-align: center;
    background-color: #FFEBC1;
    border-color: #FDBF3B;
    color: #A6750C;
}

.box{
    padding:6px;
    margin-bottom: 10px;
    background-color:#f6f6f6;
    color:#505050;
    line-height:1.5em;
    border: 1px solid #e4e4e4;
}

div.square {
    border: 1px solid #999;
    float: left;
    margin: .3em .4em 0 .4em;
    overflow: hidden;
    width: .6em; height: .6em;
}

fieldset {border: 1px solid #e4e4e4; margin:0;}
legend {color: #484848;}

fieldset.collapsible { border-width: 1px 0 0 0; font-size: 0.9em; }
fieldset.collapsible legend { padding-left: 16px; background: url(../images/arrow_expanded.png) no-repeat 0% 40%; cursor:pointer; }
fieldset.collapsible.collapsed legend { background-image: url(../images/arrow_collapsed.png); }

div.issues h3 {
    background:url("../images/ticket.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

h3.issues {
    background:url("../images/ticket.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

h3.editissue {
    background:url("../images/ticket_edit.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

div.members h3 {
    background:url("../images/22x22/users.png") no-repeat scroll 0 50% transparent;
    padding-left:25px;
}

div.activity h3 {
    background:url("../images/time.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

h3.activity {
    background:url("../images/time.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

div.roadmap h3{
    background:url("../images/package.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

h3.roadmap {
    background:url("../images/package.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

h3.overview {
    background:url("../images/true.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

h3.code {
    background:url("../images/changeset.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

h3.settings {
    background:url("../images/admin.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

div.project h3 {
    background:url("../images/projects.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

h3.projects {
    background:url("../images/projects.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

h3.welcome {
    background:url("../images/home.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

div.project h2 {
    background:url("../images/22x22/projects.png") no-repeat scroll 0 50% transparent;
    padding-left:25px;
}

div.assigned h3 {
    background:url("../images/Assigned.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

div.watched h3 {
    background:url("../images/fav.png") no-repeat scroll 0 50% transparent;
    padding-left:20px;
}

.grid-view {
    border: solid 1px #d5d5d5;
}
.grid-view table.items th {
    background: none !important;
    background-color: #507AAA !important;
    color:white;
    text-align:center;
}

dt.issue-new { background-image: url(../images/ticket.png); }
dt.issue-change { background-image: url(../images/ticket_edit.png); }
dt.issue-resolved { background-image: url(../images/ticket_checked.png); }
dt.issue-rejected { background-image: url(../images/ticket_crossed.png); }
dt.issue-note { background-image: url(../images/ticket_note.png); }
dt.issue-attachment { background-image: url(../images/attachment.png); }
dt.changeset { background-image: url(../images/changeset.png); }
dt.news { background-image: url(../images/news.png); }
dt.message { background-image: url(../images/message.png); }
dt.reply { background-image: url(../images/comments.png); }
dt.wiki-page { background-image: url(../images/wiki_edit.png); }
dt.attachment { background-image: url(../images/attachment.png); }
dt.document { background-image: url(../images/document.png); }
dt.project { background-image: url(../images/projects.png); }

div#issue-changesets {float:right; width:45%; margin-left: 1em; margin-bottom: 1em; background: #fff; padding-left: 1em; font-size: 90%;}
div#issue-changesets .changeset { padding: 4px;}
div#issue-changesets .changeset { border-bottom: 1px solid #ddd; }
div#issue-changesets p { margin-top: 0; margin-bottom: 1em;}

div#activity dl, #search-results { margin-left: 2em; }
div#activity dd, #search-results dd { margin-bottom: 1em; padding-left: 18px; font-size: 0.9em; }
div#activity dt, #search-results dt { margin-bottom: 0px; padding-left: 20px; line-height: 18px; background-position: 0 50%; background-repeat: no-repeat; }
div#activity dt.me .time { border-bottom: 1px solid #999; }
div#activity dt .time { color: #777; font-size: 80%; }
div#activity dd .description, #search-results dd .description { font-style: italic; }
div#activity span.project:after, #search-results span.project:after { content: " -"; }
div#activity dd span.description, #search-results dd span.description { display:block; }

#activity dt img.gravatar {
	float: left;
	margin: 0 1em 1em 0;
}

#activity dt,
.journal {
	clear: left;
}

div.attachments span.author { font-size: 0.9em; color: #888; }

dl.activity {margin:0 !important;}
dd.activity {margin:0 !important;}
dt.activity {margin:0 !important;}

div.scroll {
    height: 200px;
    overflow: auto;
}

div.scroll_small {
    height: 100px;
    overflow: auto;
}

div.scroll_code {
    max-height: 100px;
    overflow: auto;
}

div.scroll_larger {
    height: 300px;
    overflow: auto;
}

/* FULL WIDTH TABLE (used in Source and Overview) */
table.maintable {
    margin: 12px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

table.maintable th,
table.maintable td {
    border-style: solid;
    border-color: #ddd;
    padding: 0.75em 10px 0.75em 20px; /* cells should have 10px left and right padding...
                                           except the leftmost, which should have 20 and 10...
                                             and the rightmost, which should have 10 and 20 */
}

table.maintable th+th,
table.maintable td+td {
    padding-left: 10px;
}

table.maintable td {
    font: 12px/1.5em "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace;
}

#issues-list table.maintable td {
    font: inherit;
}

#issues-list table.maintable a {
    color: #525252;
}

table.maintable th {
    font-weight: bold;
    line-height: 18px;
    text-shadow: 0 1px 0 #fff;
}

table.maintable thead tr {
    background: #eee;
}

table.maintable tbody tr:nth-child(even) {
    background: #fcfcfc;
}

table.maintable th, table.maintable td {
    border-bottom: 1px solid #ddd;
}

/* STANDARD LAYOUT-BOX */
.layout-box {
    border: 1px solid #ddd;
    padding: 15px 24px;
}

/* SHORTLOG/OVERVIEW */
#strip-repository th                    { width: 158px; }
#strip-repository th+th                 { width: 80px; }
#strip-repository th+th+th              { width: 480px; }
#strip-repository th+th+th+th           { width: 110px; padding-right: 20px; }

#shortlogs-changes th                   { width: 158px; }
#shortlogs-changes th+th                { width: 80px; }
#shortlogs-changes th+th+th             { width: 480px; }
#shortlogs-changes th+th+th+th          { width: 32px; padding-left: 0; padding-right: 0; text-indent: -9999px; }
#shortlogs-changes th+th+th+th       { background: url(../images/add.png) no-repeat 8px; }
#shortlogs-changes th+th+th+th+th    { background-image: url(../images/edit.png); }
#shortlogs-changes th+th+th+th+th+th { background-image: url(../images/delete.png); padding-right: 12px; }

#shortlogs-changes td+td+td+td          { padding-left: 0; padding-right: 0; text-indent: -9999px; }
#shortlogs-changes td+td+td+td       { text-indent: inherit; text-align: center; color: #282; }
#shortlogs-changes td+td+td+td+td    { color: #b70; }
#shortlogs-changes td+td+td+td+td+td { color: #c33; padding-right: 12px; }

#strip-repository img,
#shortlogs-changes img {
    float: left;
    margin: 0 9px 0 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
}

#shortlogs-changes .commented {
    background: url(../img/icons/fugue/balloon_left.png) no-repeat 50%;
}

#shortlogs-changes input[type="radio"] {
    float: left;
    margin: 3px 3px 3px -16px;
}

.diff-radio input {
    margin: 0;
    padding: 0;
}

.changes-added, .changes-modified, .changes-removed {
    display: block;
    float: right;
    width: 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 0.75em;
}

.changes-added, .changes-modified {
    border-right: 0 !important;
}

.changes-removed, .changes-modified {
    border-left: 0 !important;
}

.changes-added {
    background: #bfb;
    text-align: center;
}

.changes-modified {
    background: #fd8;
    text-align: center;
}

.changes-removed {
    background: #f88;
    text-align: center;
}

/* CHANGESETS */
.changesets-date {
    margin: 0 auto;
    border-bottom: 0;
    background: #fff url(../img/layout/bg_general.png) repeat-x left top;
    padding: 10px 20px !important;
    font-weight: bold;
    font-size: 1.1em;
}

.changeset-description {
    margin-bottom: 10px;
    width: 710px;
    white-space: pre-wrap;
}

#content h2.changesets {
    margin: 0;
    padding: 12px 0 10px 20px;
}

#changesets-graph {
    float: left;
    margin-top: 20px;
    margin-left: -160px;
    width: 160px;
}

#changesets-inner {
    margin: 0 0 10px;
}

#changesets-inner h3 {
    margin: -1px 0 0 !important;
    border: 1px solid #ddd;
    background: #eee;
    padding: 10px 20px;
}

#changesets-inner>ol {
    font: 12px/1.5em "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace;
}

#changesets-inner>ol>li {
    margin: -1px 0 0;
    border: 1px solid #ddd;
    padding: 10px 300px 10px 20px;
}

#changesets-inner>ol>li:nth-child(even) {
    background: #fcfcfc;
}

.shortlog_relations {
    float: right;
    margin: 0 -280px 0 0;
    text-align: right;
}

.shortlog_relations dt {
    clear: left;
    float: left;
    width: 100px;
    text-align: right;
    color: #747474;
}

.shortlog_relations dt:after {
    content: ":";
}

.shortlog_relations dd {
    float: left;
    margin: 0 0 0 0.5em;
}

.relations {
    float: right;
    margin: 0 0 0 0;
    text-align: right;
}

.relations dt {
    clear: left;
    float: left;
    width: 100px;
    text-align: right;
    color: #747474;
}

.relations dt:after {
    content: ":";
}

.relations dd {
    float: left;
    margin: 0 0 0 0.5em;
}

#changesets-inner h4 {
    position: absolute;
    left: -9999px;
}

#changelog>.added,
#changelog>.modified,
#changelog>.removed {
    float: right;
    width: 32px;
    height: 36px;
}

#changelog>.added                 { background: url(../images/add.png) no-repeat 50%; }
#changelog>.modified              { background: url(../images/edit.png) no-repeat 50%; }
#changelog>.removed               { background: url(../images/delete.png) no-repeat 50%; margin-right: 201px; }

.files-affected {
    float: right;
    margin: 0 -100px 0 0;
    width: 96px;
    overflow: hidden;
}

.files-affected dt {
    position: absolute;
    left: -9999px;
}

.files-affected dd {
    float: left;
    width: 32px;
    text-align: center;
}

.files-affected dd[title="Added"] {
    color: #282;
}

.files-affected dd[title="Modified"] {
    color: #b70;
}

.files-affected dd[title="Removed"] {
    color: #c33;
}

#source-summary>p {
    white-space: pre-wrap;
}

#source-summary+p {
    margin: 0 0 0 21px;
}

#changesets-inner p, #source-summary p {
    margin: 0.25em 0 0.5em;
    width: 600px;
    line-height: inherit;
}

#changesets-inner .metadata, #source-summary .metadata {
    position: relative;
    margin: 0.5em 0 0;
    min-height: 34px;
    padding: 2px 0 2px 45px;
    font-family: Helvetica, Arial, sans-serif;
}

#changesets-inner .metadata dt, #source-summary .metadata dt {
    position: absolute;
    left: -9999px;
}

#changesets-inner .metadata .avatar, #source-summary .metadata .avatar {
    position: absolute;
    left: -3px;
    top: 0;
}

#changesets-inner .metadata dd[title], #source-summary .metadata dd:last-child {
    color: #747474;
}

#changesets-inner li {
    position: relative;
}

#changesets-inner .metadata+p {
    position: absolute;
    right: 220px;
    bottom: 12px;
    display: block;
    width: auto;
}

.changesets-changeset {
    margin: 0 auto -1px;
    font: 12px/16px "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.changesets-changeset h4 {
    font-weight: bold;
    font-size: 1em;
}

.changesets-changeset span {
    font-family: "Lucida Grande", "Trebuchet MS", Tahoma, Arial, sans-serif;
}

#changesets-footer {
    margin: 0 auto;
}

#content>.added,
#content>.modified,
#content>.removed {
    float: right;
    width: 32px;
    height: 36px;
}

#content>.added                 { background: url(../images/add.png) no-repeat 50%; }
#content>.modified              { background: url(../images/edit.png) no-repeat 50%; }
#content>.removed               { background: url(../images/delete.png) no-repeat 50%; margin-right: 201px; }

.files-affected {
    float: right;
    margin: 0 -100px 0 0;
    width: 96px;
    overflow: hidden;
}

.files-affected dt {
    position: absolute;
    left: -9999px;
}

.files-affected dd {
    float: left;
    width: 32px;
    text-align: center;
}

.files-affected dd[title="Added"] {
    color: #282;
}

.files-affected dd[title="Modified"] {
    color: #b70;
}

.files-affected dd[title="Removed"] {
    color: #c33;
}

#source-summary>p {
    white-space: pre-wrap;
}

#source-summary+p {
    margin: 0 0 0 21px;
}

#changesets-inner p, #source-summary p {
    margin: 0.25em 0 0.5em;
    width: 600px;
    line-height: inherit;
}

#changesets-inner .metadata, #source-summary .metadata {
    position: relative;
    margin: 0.5em 0 0;
    min-height: 34px;
    padding: 2px 0 2px 45px;
    font-family: Helvetica, Arial, sans-serif;
}

#changesets-inner .metadata dt, #source-summary .metadata dt {
    position: absolute;
    left: -9999px;
}

#changesets-inner .metadata .avatar, #source-summary .metadata .avatar {
    position: absolute;
    left: -3px;
    top: 0;
}

#changesets-inner .metadata dd[title], #source-summary .metadata dd:last-child {
    color: #747474;
}

#changesets-inner li {
    position: relative;
}

#changesets-inner .metadata+p {
    position: absolute;
    right: 220px;
    bottom: 12px;
    display: block;
    width: auto;
}

.changesets-changeset {
    margin: 0 auto -1px;
    font: 12px/16px "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.changesets-changeset h4 {
    font-weight: bold;
    font-size: 1em;
}

.changesets-changeset span {
    font-family: "Lucida Grande", "Trebuchet MS", Tahoma, Arial, sans-serif;
}

#changesets-footer {
    margin: 0 auto;
}

ol, ul {
	list-style: none;
}

#changelog, #introduction>div {
    margin: 0 auto;
    width: 930px;
}

#source-summary table td, .changesets-changeset table td {
    padding: 0 4px 4px;
}

/*p {
    line-height: 21px;
}*/

.metadata img.gravatar {
    margin: 0 auto -1px;
    float: left;
    position: relative;
    left: -45px;
    bottom: 35px;
}

/* CHANGE TYPES */
.change-modified {
    background: url(../images/edit.png) no-repeat left;
    padding: 2px 0 2px 20px;
}

.change-added {
    background: url(../images/add.png) no-repeat left;
    padding: 2px 0 2px 20px;
}

.change-removed {
    background: url(../images/delete.png) no-repeat left;
    padding: 2px 0 2px 20px;
}
