-use yii\helpers\Html
-use yii\widgets\ActiveForm
.project-form

  -$form = ActiveForm::begin();

  !=$form->field($model, 'name')->textInput(['maxlength' => true])
  !=$form->field($model, 'description')->textarea(['rows' => 6])
  !=$form->field($model, 'homepage')->textInput(['maxlength' => true])
  !=$form->field($model, 'public')->textInput()
  !=$form->field($model, 'created')->textInput()
  !=$form->field($model, 'modified')->textInput()
  !=$form->field($model, 'identifier')->textInput(['maxlength' => true])
  .form-group
    !=Html::submitButton($model->isNewRecord ? Yii::t('app', 'Create') : Yii::t('app', 'Update'), ['class' => $model->isNewRecord ? 'btn btn-success' : 'btn btn-primary'])

  -ActiveForm::end()
