{{use('yii/helpers/Html')}}
{{use('yii/widgets/ActiveForm')}}

<div class="project-search">

    {% set form = active_form_begin({
        'action': ['index'],
        'method': 'get'
    }) %}

        {{ form.field(model, 'id') }}

        {{ form.field(model, 'name') }}

        {{ form.field(model, 'description') }}

        {{ form.field(model, 'homepage') }}

        {{ form.field(model, 'public') }}

        {# form.field(model, 'created') #}

        {# form.field(model, 'modified') #}

        {# form.field(model, 'identifier') #}

        <div class="form-group">
            {{ html.submitButton('Search', {'class' : 'btn btn-primary'}) | raw }}
            {{ html.resetButton('Reset', {'class' : 'btn btn-primary'}) | raw }}
        </div>

    {{ active_form_end() }}

</div>
