{{use('yii/helpers/Html')}}
{{use('yii/grid/GridView')}}
{{use('yii/bootstrap/ButtonDropdown')}}

{{ set(this, 'title', 'Projects') }}

{# $this->params['breadcrumbs'][] = $this->title; #}

<div class="project-index">

    <div class="clearfix">
        <p class="pull-left">
            {{ html.a('<span class="glyphicon glyphicon-plus"></span> New Project', ['create'],{'class': 'btn btn-success'}) | raw }}
        </p>

        <div class="pull-right">
                                                                                                                                                                                                                                                                                    
            {{ button_dropdown_widget({
                'id' : 'giiant-relations',
                'encodeLabel': false,
                'label': '<span class="glyphicon glyphicon-paperclip"></span> Relations',
                'dropdown': {
                    'options' : {
                        'class' : 'dropdown-menu-right'
                    },
                    'encodeLabels': false,
                    'items': [{"label":"<i class=\"glyphicon glyphicon-arrow-right\"> Action Log</i>","url":["action-log/index"]},{"label":"<i class=\"glyphicon glyphicon-arrow-right\"> Issue</i>","url":["issue/index"]},{"label":"<i class=\"glyphicon glyphicon-arrow-right\"> Issue Category</i>","url":["issue-category/index"]},{"label":"<i class=\"glyphicon glyphicon-arrow-right\"> Member</i>","url":["member/index"]},{"label":"<i class=\"glyphicon glyphicon-arrow-right\"> Project Link</i>","url":["project-link/index"]},{"label":"<i class=\"glyphicon glyphicon-random\"> Project Tracker</i>","url":["project-tracker/index"]},{"label":"<i class=\"glyphicon glyphicon-arrow-right\"> Tracker</i>","url":["tracker/index"]},{"label":"<i class=\"glyphicon glyphicon-arrow-right\"> Repository</i>","url":["repository/index"]},{"label":"<i class=\"glyphicon glyphicon-arrow-right\"> Version</i>","url":["version/index"]}]                }
            }) }}
        </div>
    </div>

    {{ grid_view_widget({
        'dataProvider': dataProvider,
        'filterModel': searchModel,
        'columns': [
                    'id',
            'name',
            'description:ntext',
            'homepage',
            'public',
            'created',
            'modified',
            {
                'class': 'yii\\grid\\ActionColumn',
                'contentOptions': {'nowrap':'nowrap'}
            }
        ]
    }) }}

</div>
