-$view->title=Yii::t('app','Issues')
-$view->beginBlock('content-header')
|#{$view->title} <small>all your bugs are belong to us</small>
-$view->endBlock()
!=$view->render('partials/_menu', ['identifier' => $model->identifier])
hr
