-use yii\helpers\Html
-$view->title=Yii::t('app','Settings')
!=$view->render('partials/_menu', ['identifier' => $model->identifier])
hr

if (\Yii::$app->user->can('project_update'))
  p
    !=Html::a(Yii::t('app', 'Update Project'), ['update', 'identifier' => $model->identifier], ['class' => 'btn btn-success'])
