-use yii\helpers\Html
-$view->title = Yii::t('app', 'Update {modelClass}: ', ['modelClass' => 'Project',]) . ' ' . $model->name
-$view->params['breadcrumbs'][] = ['label' => Yii::t('app', 'Projects'), 'url' => ['index']]
-$view->params['breadcrumbs'][] = ['label' => $model->name, 'url' => ['view', 'id' => $model->id]]
-$view->params['breadcrumbs'][] = Yii::t('app', 'Update');
.project-update
  h1
    !=Html::encode($view->title)
  !=$view->render('_form', ['model' => $model,])
