#container li {
   background: url(sprites.png) no-repeat top left;
}

.sprite-1downarrow{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-1uparrow{ background-position: 0 -66px; width: 16px; height: 16px; } 
.sprite-2downarrow{ background-position: 0 -132px; width: 16px; height: 16px; } 
.sprite-2uparrow{ background-position: 0 -198px; width: 16px; height: 16px; } 
.sprite-Assigned{ background-position: 0 -264px; width: 16px; height: 16px; } 
.sprite-Bug{ background-position: 0 -330px; width: 16px; height: 16px; } 
.sprite-Feature{ background-position: 0 -396px; width: 16px; height: 16px; } 
.sprite-High{ background-position: 0 -462px; width: 16px; height: 16px; } 
.sprite-Low{ background-position: 0 -528px; width: 16px; height: 16px; } 
.sprite-New{ background-position: 0 -594px; width: 16px; height: 16px; } 
.sprite-Normal{ background-position: 0 -660px; width: 16px; height: 16px; } 
.sprite-Rejected{ background-position: 0 -726px; width: 16px; height: 16px; } 
.sprite-Resolved{ background-position: 0 -792px; width: 16px; height: 16px; } 
.sprite-Unassigned{ background-position: 0 -858px; width: 16px; height: 16px; } 
.sprite-add{ background-position: 0 -924px; width: 16px; height: 16px; } 
.sprite-admin{ background-position: 0 -990px; width: 16px; height: 16px; } 
.sprite-arrow_bw{ background-position: 0 -1056px; width: 10px; height: 7px; } 
.sprite-arrow_collapsed{ background-position: 0 -1113px; width: 16px; height: 16px; } 
.sprite-arrow_down{ background-position: 0 -1179px; width: 8px; height: 8px; } 
.sprite-arrow_expanded{ background-position: 0 -1237px; width: 16px; height: 16px; } 
.sprite-arrow_from{ background-position: 0 -1303px; width: 10px; height: 7px; } 
.sprite-arrow_to{ background-position: 0 -1360px; width: 10px; height: 7px; } 
.sprite-attachment{ background-position: 0 -1417px; width: 16px; height: 16px; } 
.sprite-bullet_add{ background-position: 0 -1483px; width: 16px; height: 16px; } 
.sprite-bullet_black{ background-position: 0 -1549px; width: 16px; height: 16px; } 
.sprite-bullet_blue{ background-position: 0 -1615px; width: 16px; height: 16px; } 
.sprite-bullet_delete{ background-position: 0 -1681px; width: 16px; height: 16px; } 
.sprite-bullet_orange{ background-position: 0 -1747px; width: 16px; height: 16px; } 
.sprite-bullet_purple{ background-position: 0 -1813px; width: 16px; height: 16px; } 
.sprite-bullet_toggle_minus{ background-position: 0 -1879px; width: 16px; height: 16px; } 
.sprite-bullet_toggle_plus{ background-position: 0 -1945px; width: 16px; height: 16px; } 
.sprite-calendar{ background-position: -66px 0; width: 20px; height: 20px; } 
.sprite-cancel{ background-position: -66px -70px; width: 16px; height: 16px; } 
.sprite-changeset{ background-position: -66px -136px; width: 16px; height: 16px; } 
.sprite-close{ background-position: -66px -202px; width: 12px; height: 12px; } 
.sprite-close_hl{ background-position: -66px -264px; width: 12px; height: 12px; } 
.sprite-comment{ background-position: -66px -326px; width: 16px; height: 16px; } 
.sprite-comments{ background-position: -66px -392px; width: 16px; height: 16px; } 
.sprite-copy{ background-position: -66px -458px; width: 16px; height: 16px; } 
.sprite-csv{ background-position: -66px -524px; width: 16px; height: 16px; } 
.sprite-delete{ background-position: -66px -590px; width: 16px; height: 16px; } 
.sprite-document{ background-position: -66px -656px; width: 16px; height: 16px; } 
.sprite-drop{ background-position: -66px -722px; width: 20px; height: 20px; } 
.sprite-edit{ background-position: -66px -792px; width: 16px; height: 16px; } 
.sprite-external{ background-position: -66px -858px; width: 9px; height: 9px; } 
.sprite-false{ background-position: -66px -917px; width: 16px; height: 16px; } 
.sprite-fav{ background-position: -66px -983px; width: 16px; height: 16px; } 
.sprite-fav_off{ background-position: -66px -1049px; width: 16px; height: 16px; } 
.sprite-feed{ background-position: -66px -1115px; width: 12px; height: 12px; } 
.sprite-file{ background-position: -66px -1177px; width: 16px; height: 16px; } 
.sprite-folder{ background-position: -66px -1243px; width: 16px; height: 16px; } 
.sprite-folder_open{ background-position: -66px -1309px; width: 16px; height: 16px; } 
.sprite-folder_open_add{ background-position: -66px -1375px; width: 16px; height: 16px; } 
.sprite-folder_open_orange{ background-position: -66px -1441px; width: 16px; height: 16px; } 
.sprite-group{ background-position: -66px -1507px; width: 16px; height: 16px; } 
.sprite-help{ background-position: -66px -1573px; width: 16px; height: 16px; } 
.sprite-history{ background-position: -66px -1639px; width: 16px; height: 16px; } 
.sprite-home{ background-position: -66px -1705px; width: 16px; height: 16px; } 
.sprite-html{ background-position: -66px -1771px; width: 16px; height: 16px; } 
.sprite-image{ background-position: -66px -1837px; width: 16px; height: 16px; } 
.sprite-index{ background-position: -66px -1903px; width: 17px; height: 17px; } 
.sprite-locked{ background-position: -136px 0; width: 16px; height: 16px; } 
.sprite-message{ background-position: -136px -66px; width: 16px; height: 16px; } 
.sprite-milestone{ background-position: -136px -132px; width: 8px; height: 8px; } 
.sprite-move{ background-position: -136px -190px; width: 16px; height: 16px; } 
.sprite-news{ background-position: -136px -256px; width: 16px; height: 16px; } 
.sprite-package{ background-position: -136px -322px; width: 16px; height: 16px; } 
.sprite-pdf{ background-position: -136px -388px; width: 16px; height: 16px; } 
.sprite-projects{ background-position: -136px -454px; width: 16px; height: 16px; } 
.sprite-reload{ background-position: -136px -520px; width: 16px; height: 16px; } 
.sprite-report{ background-position: -136px -586px; width: 16px; height: 16px; } 
.sprite-save{ background-position: -136px -652px; width: 16px; height: 16px; } 
.sprite-sort_asc{ background-position: -136px -718px; width: 8px; height: 8px; } 
.sprite-sort_desc{ background-position: -136px -776px; width: 8px; height: 8px; } 
.sprite-stats{ background-position: -136px -834px; width: 16px; height: 16px; } 
.sprite-sticky{ background-position: -136px -900px; width: 16px; height: 16px; } 
.sprite-task_done{ background-position: -136px -966px; width: 8px; height: 8px; } 
.sprite-task_late{ background-position: -136px -1024px; width: 8px; height: 8px; } 
.sprite-task_todo{ background-position: -136px -1082px; width: 8px; height: 8px; } 
.sprite-ticket{ background-position: -136px -1140px; width: 16px; height: 16px; } 
.sprite-ticket_checked{ background-position: -136px -1206px; width: 16px; height: 16px; } 
.sprite-ticket_crossed{ background-position: -136px -1272px; width: 16px; height: 16px; } 
.sprite-ticket_edit{ background-position: -136px -1338px; width: 16px; height: 16px; } 
.sprite-ticket_note{ background-position: -136px -1404px; width: 16px; height: 16px; } 
.sprite-time{ background-position: -136px -1470px; width: 16px; height: 16px; } 
.sprite-toggle_check{ background-position: -136px -1536px; width: 11px; height: 11px; } 
.sprite-true{ background-position: -136px -1597px; width: 16px; height: 16px; } 
.sprite-txt{ background-position: -136px -1663px; width: 16px; height: 16px; } 
.sprite-unlock{ background-position: -136px -1729px; width: 16px; height: 16px; } 
.sprite-user{ background-position: -136px -1795px; width: 16px; height: 16px; } 
.sprite-user_new{ background-position: -136px -1861px; width: 16px; height: 16px; } 
.sprite-user_page{ background-position: -136px -1927px; width: 16px; height: 16px; } 
.sprite-users{ background-position: -206px 0; width: 16px; height: 16px; } 
.sprite-warning{ background-position: -206px -66px; width: 16px; height: 16px; } 
.sprite-wiki_edit{ background-position: -206px -132px; width: 16px; height: 16px; } 
