-use yii\helpers\Html
-
  $items =
  [
    ['label' => 'Dashboard', 'icon' => 'fa fa-file-code-o', 'url' => ['/admin/index']],
    ['label' => 'User Management', 'icon' => 'fa fa-user', 'url' => ['/user/admin'], 'visible' => !Yii::$app->user->isGuest],
    ['label' => 'Gii', 'icon' => 'fa fa-file-code-o', 'url' => ['/gii']],
    ['label' => 'Rest Client', 'icon' => 'fa fa-dashboard', 'url' => ['/rest-client']],
    ['label' => 'Debug', 'icon' => 'fa fa-dashboard', 'url' => ['/debug']],
    ['label' => 'Sign in', 'icon' => 'fa fa-lock', 'url' => ['user/login'], 'visible' => Yii::$app->user->isGuest],
  ]

!=common\widgets\Menu::widget(['options' => ['class' => 'nav navbar-nav side-nav'],'items' => $items])
-if(!Yii::$app->user->isGuest) {
  !=Html::a('<i class="fa fa-lock"></i><span>Sign out</span>',['/user/logout'],['data-method' => 'post'])
-}
