// lift the logo up a bit
.navbar-header {
  position: relative;
  top: -1em;
  .navbar-brand {
    color: #E6E6E6;
    font-size: 3em;
    img {
      position: relative;
      top: -0.1em;
    }
    border: none;
  }
}
button.navbar-toggle {
  color: #E6E6E6;
}
.navbar-toggle {
  position: relative;
  top: 0.9em;
}

@media screen and (min-width: $grid-float-breakpoint) {
  // Dropdown menu items
  .navbar-nav {
    > .active > a {
      color: $navbar-default-link-active-color;
      background-color: $navbar-default-link-active-bg;
    }
  }
}
