-use yii\helpers\Html
-use yii\widgets\ActiveForm
.user-search
  -$form = ActiveForm::begin(['action' => ['index'],'method' => 'get',])
  !=$form->field($model, 'id')
  !=$form->field($model, 'username')
  !=$form->field($model, 'auth_key')
  !=$form->field($model, 'password_hash')
  !=$form->field($model, 'password_reset_token')
  //-!=$form->field($model, 'email')
  //-!=$form->field($model, 'status')
  //-!=$form->field($model, 'created_at')
  //-!=$form->field($model, 'updated_at')
  //-!=$form->field($model, 'role')
  .form-group
     !=Html::submitButton(Yii::t('app', 'Search'), ['class' => 'btn btn-primary'])
     !=Html::resetButton(Yii::t('app', 'Reset'), ['class' => 'btn btn-default'])

  -ActiveForm::end()
