-use yii\helpers\Html
-use yii\widgets\DetailView
-$view->title = $model->id
-$view->params['breadcrumbs'][] = ['label' => Yii::t('app', 'Users'), 'url' => ['index']]
-$view->params['breadcrumbs'][] = $view->title
.user-view
  h1
    !=Html::encode($view->title)
  p
    !=Html::a(Yii::t('app', 'Update'), ['update', 'id' => $model->id], ['class' => 'btn btn-primary'])
    !=Html::a(Yii::t('app', 'Delete'), ['delete', 'id' => $model->id], ['class' => 'btn btn-danger','data' => ['confirm' => Yii::t('app', 'Are you sure you want to delete this item?'),'method' => 'post',],])

  -
    $attributes = [
    'id',
    'username',
    'auth_key',
    'password_hash',
    'password_reset_token',
    'email:email',
    'status',
    'created_at',
    'updated_at',
    'role',
    ]
  !=DetailView::widget(['model' => $model,'attributes' => $attributes ])
