-use yii\widgets\Breadcrumbs;
-use dmstr\widgets\Alert;
.content-wrapper
  section.content-header
    if (isset($view->blocks['content-header']))
      h1
        !=$view->blocks['content-header']
    else
      h1
        if ($view->title !== null)
          !=\yii\helpers\Html::encode($view->title)
        else
          !=\yii\helpers\Inflector::camel2words(\yii\helpers\Inflector::id2camel($view->context->module->id))
          !=($view->context->module->id !== \Yii::$app->id) ? '<small>Module</small>' : '';

    !=Breadcrumbs::widget(['links' => isset($this->params['breadcrumbs']) ? $this->params['breadcrumbs'] : [],])
  section.content
    !=Alert::widget()
    !=$content

footer.main-footer
  .pull-right.hidden-xs
    b Version : 2.0
  strong JADE Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.

!=$view->render('right', ['directoryAsset' => $directoryAsset])
