-use yii\helpers\Html
aside.main-sidebar
  section.sidebar
    // sidebar user panel
    .user-panel
      .pull-left.image
        if (Yii::$app->user->isGuest)
          !=\cebe\gravatar\Gravatar::widget(['email' => '','options' => ['alt' => '', 'class' => 'img-circle'], 'size' => 45])
        else
          !=\cebe\gravatar\Gravatar::widget(['email' => Yii::$app->user->identity->email,'options' => ['alt' => 'Jacob Moen', 'class' => 'img-circle'], 'size' => 45])
      .pull-left.info
        if (Yii::$app->user->isGuest)
          p Not signed in
          a(href="#")
            i.fa.fa-circle.text-gray Offline
        else
          p #{Yii::$app->user->identity->username}
          a(href="#")
            i.fa.fa-circle.text-success Online
    // search form
    form.sidebar-form(action="#", method="get")
      .input-group
        input.form-control(type="text", name="q", placeholder="Search...")
        span.input-group-btn
          button.btn.btn-flat(type="submit", name="search", id="search-btn")
            i.fa.fa-search

    -
      $items =
      [
        ['label' => 'Navigation', 'options' => ['class' => 'header']],
        ['label' => 'Dashboard', 'icon' => 'fa fa-file-code-o', 'url' => ['/admin/index']],
        ['label' => 'Users', 'icon' => 'fa fa-user', 'url' => ['user/index'], 'visible' => !Yii::$app->user->isGuest],
        ['label' => 'Gii', 'icon' => 'fa fa-file-code-o', 'url' => ['/gii']],
        ['label' => 'Debug', 'icon' => 'fa fa-dashboard', 'url' => ['/debug']],
        ['label' => 'Sign in', 'icon' => 'fa fa-lock', 'url' => ['admin/login'], 'visible' => Yii::$app->user->isGuest],
      ]

    !=dmstr\widgets\Menu::widget(['options' => ['class' => 'sidebar-menu'],'items' => $items])
    if (!Yii::$app->user->isGuest)
      ul.sidebar-menu
        li
          !=Html::a('<i class="fa fa-lock"></i><span>Sign out</span>',['/admin/logout'],['data-method' => 'post'])
