-use yii\helpers\Html
-
  $items =
  [
    ['label' => Yii::t('app', 'Dashboard'), 'icon' => 'fa fa-home', 'url' => ['/site/index']],
    ['label' => Yii::t('app', 'Projects'), 'icon' => 'fa fa-rocket', 'url' => ['/project/index']],
    ['label' => Yii::t('app', 'Help'), 'icon' => 'fa fa-book', 'url' => ['/help/index']],
    ['options' => ['class' => 'divider']],
    ['label' => 'Gii', 'icon' => 'fa fa-file-code-o', 'url' => ['/gii'], 'visible' => !Yii::$app->user->isGuest]],
    ['label' => 'Rest Client', 'icon' => 'fa fa-dashboard', 'url' => ['/rest-client'], 'visible' => !Yii::$app->user->isGuest]],
    ['label' => 'Debug', 'icon' => 'fa fa-dashboard', 'url' => ['/debug'], 'visible' => Yii::$app->user->isGuest]],
    ['label' => Yii::t('app','Sign in'), 'icon' => 'fa fa-lock', 'url' => ['/user/login'], 'visible' => Yii::$app->user->isGuest],
    ['label' => Yii::t('app','Sign up'), 'icon' => 'fa fa-user', 'url' => ['/user/register'], 'visible' => Yii::$app->user->isGuest],
  ]

!=common\widgets\Menu::widget(['options' => ['class' => 'nav navbar-nav side-nav'],'items' => $items])
-if(!Yii::$app->user->isGuest) {
  !=Html::a('<i class="fa fa-lock"></i><span>Sign out</span>',['/user/logout'],['data-method' => 'post'])
-}
