-use yii\helpers\Html
-use yii\helpers\Url
header.main-header
  !=Html::a('<span class="logo-mini">APP</span><span class="logo-lg">' . Yii::$app->name . '</span>', Yii::$app->homeUrl, ['class' => 'logo'])
  nav.navbar.navbar-static-top
    a.sidebar-toggle(href="#", data-toggle="offcanvas", role="button")
      span.sr-only Toggle navigation
    .navbar-custom-menu
      ul.nav.navbar-nav
        if (!Yii::$app->user->isGuest)
          //-<!-- Messages: style can be found in dropdown.less-->
          li.dropdown.messages-menu
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              i.fa.fa-envelope-o
              span.label.label-success 1
            ul.dropdown-menu
              li.header You have 1 message
              li
                ul.menu
                  li
                    a(href="#")
                      .pull-left
                        img(src=$directoryAsset."/img/user2-160x160.jpg", class="img-circle", alt="User Image")
                      h4
                        Support Team
                        small
                          i.fa.fa-clock-o 5 mins
                      p Why not buy a new awesome theme?
              li.footer
                a(href="#")
                  See All Messages
          li.dropdown.notifications-menu
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              i.fa.fa-bell-o
              span.label.label-warning 2
            ul.dropdown-menu
              li.header You have 2 notifications
              li
                ul.menu
                  li
                    a(href="#")
                      i.fa.fa-users.text-aqua
                        |5 new members joined today
                    li
                      a(href="#")
                        i.fa.fa-warning.text-yellow
                          |Very long description here that may not fit
                          |into the page and may cause design problems
              li.footer
                a(href="#") View all
          li.dropdown.tasks-menu
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              i.fa.fa-flag-o
              span.label.label-danger 2
            ul.dropdown-menu
              li.header You have 2 tasks
              li
                ul.menu
                  li
                    a(href="#")
                      h3
                        |Design some buttons
                        small.pull-right 20%
                      .progress.xs
                        .progress-bar.progress-bar-aqua(style="width: 20%", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
                          span.sr-only 20% Complete
                  li
                    a(href="#")
                      h3
                        |Create a nice theme
                        small.pull-right 40%
                      .progress.xs
                        .progress-bar.progress-bar-green(style="width: 40%", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
                        span.sr-only 40% Complete
                  li.footer
                  a(href="#") View all tasks
          li.dropdown.user.user-menu
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              !=\cebe\gravatar\Gravatar::widget(['email' => Yii::$app->user->identity->email,'options' => ['alt' => '#{Yii::$app->user->identity->username}', 'class' => 'user-image'], 'size' => 25])
              span.hidden-xs
                !=Yii::$app->user->identity->username
            ul.dropdown-menu
              li.user-header
                !=\cebe\gravatar\Gravatar::widget(['email' => Yii::$app->user->identity->email,'options' => ['alt' => '#{Yii::$app->user->identity->username}', 'class' => 'img-circle']])
                p
                  !=Yii::$app->user->identity->username
                  small Member since
                    !=date('F Y',Yii::$app->user->identity->created_at)
              li.user-body
                .col-xs-4.text-center
                  //-a(href="#") Followers
                .col-xs-4.text-center
                  //-a(href="#") Sales
                .col-xs-4.text-center
                  //-a(href="#") Friends
              li.user-footer
                .pull-left
                  !=Html::a('Profile', Url::to(['/user/profile', 'id' => Yii::$app->user->identity->id]) , ['class' => 'btn btn-default btn-flat'])
                .pull-right
                  !=Html::a('Sign out',['/user/logout'],['data-method' => 'post', 'class' => 'btn btn-default btn-flat'])
          li
            a(href="#", data-toggle="control-sidebar")
              i.fa.fa-gears
        else
          li
            a(href="#", data-toggle="control-sidebar")
              i.fa.fa-gears
