-use yii\helpers\Html
aside.main-sidebar
  section.sidebar
    // sidebar user panel
    .user-panel
      .pull-left.image
        if (Yii::$app->user->isGuest)
          !=\cebe\gravatar\Gravatar::widget(['email' => '','options' => ['alt' => '', 'class' => 'img-circle'], 'size' => 45])
        else
          !=\cebe\gravatar\Gravatar::widget(['email' => Yii::$app->user->identity->email,'options' => ['alt' => 'Jacob Moen', 'class' => 'img-circle'], 'size' => 45])
      .pull-left.info
        if (Yii::$app->user->isGuest)
          p
            !=Yii::t('app','Not signed in')
          a(href="#")
            i.fa.fa-circle.text-gray
              !=Yii::t('app','Offline')
        else
          p #{Yii::$app->user->identity->username}
          a(href="#")
            i.fa.fa-circle.text-success Online
    // search form
    form.sidebar-form(action="#", method="get")
      .input-group
        input.form-control(type="text", name="q", placeholder="Search...")
        span.input-group-btn
          button.btn.btn-flat(type="submit", name="search", id="search-btn")
            i.fa.fa-search

    -
      $items =
      [
        ['label' => Yii::t('app', 'Navigation'), 'options' => ['class' => 'header']],
        ['label' => Yii::t('app', 'Dashboard'), 'icon' => 'fa fa-home', 'url' => ['/site/index']],
        ['label' => Yii::t('app', 'Projects'), 'icon' => 'fa fa-rocket', 'url' => ['/project/index']],
        ['label' => Yii::t('app', 'Help'), 'icon' => 'fa fa-book', 'url' => ['/help/index']],
        ['label' => 'Gii', 'icon' => 'fa fa-file-code-o', 'url' => ['/gii']],
        ['label' => 'Debug', 'icon' => 'fa fa-dashboard', 'url' => ['/debug']],
        ['label' => Yii::t('app','Sign in'), 'icon' => 'fa fa-lock', 'url' => ['/user/login'], 'visible' => Yii::$app->user->isGuest],
        ['label' => Yii::t('app','Sign up'), 'icon' => 'fa fa-user', 'url' => ['/user/register'], 'visible' => Yii::$app->user->isGuest],
      ]

    !=dmstr\widgets\Menu::widget(['options' => ['class' => 'sidebar-menu'],'items' => $items])
    if (!Yii::$app->user->isGuest)
      ul.sidebar-menu
        li
          !=Html::a('<i class="fa fa-lock"></i><span>'.Yii::t('app','Sign out').'</span>',['/user/logout'],['data-method' => 'post'])
