{{ use('yii/helpers/Html') }}
{{ use('yii/bootstrap/Nav') }}
{{ use('yii/bootstrap/NavBar') }}
{{ use('frontend/assets/AppAsset') }}
{{ use('frontend\\widgets\\Alert') }}
{{ use('yii\\widgets\\Breadcrumbs') }}

{{ register_app_asset() }}
{{ this.beginPage() | raw}}
<!DOCTYPE html>
<html lang="{{app.language}}">
<head>
    <meta charset="{{app.charset}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ html.csrfMetaTags() | raw }}
    <title>{{ html.encode(this.title) | raw }}</title>
    {{ this.head()  | raw }}
</head>
<body>
    {{ this.beginBody() | raw }}
    <div class="wrap">
    {{ nav_bar_begin({
        'brandLabel': 'Bugitor',
        'options' : {
            'class': 'navbar-inverse navbar-fixed-top',
        }
    })}}
    {% if app.user().isGuest() %} 
        {% set items = [
                {'label': 'Home', 'url': '/site/index'},
                {'label': 'Projects', 'url': '/project/index'},
                {'label': 'Issues', 'url': '/issue/index'},
                {'label': 'Signup', 'url': '/site/signup'},
                {'label': 'Login', 'url': '/site/login'}
            ]
        %}
    {% else %} 
    {% set logoutTxt = ['Logout (', app.user().identity().username ]|join('') %}
    {% set logoutTxt = [logoutTxt, ')']|join('') %}
        {% set items = [
                {'label': 'Home', 'url': '/site/index'},
                {'label': 'Projects', 'url': '/project/index'},
                {'label': 'Issues', 'url': '/issue/index'},
                {'label': logoutTxt, 'url': '/site/logout', 'linkOptions': {'data-method': 'post'}}
            ]
        %}
    {% endif %} 
    {{ nav_widget({
        'options' : {
            'class': 'navbar-nav navbar-right',
        },
        'items': items
    }) }}
    {{ nav_bar_end() }}
       <div class="container">
        {{ breadcrumbs_widget({
        'links': this.params['breadcrumbs'],
        }) }}
        {{ alert_widget() }}
        {{ content  | raw}}
        </div>
    </div>
    <footer class="footer">
        <div class="container">
        <p class="pull-left">&copy; My Company 2015</p>
        <p class="pull-right">{{Yii.powered()  | raw}}</p>
        </div>
    </footer>
    {{this.endBody() | raw}}
</body>
</html>
{{this.endPage() | raw}}
