-use yii\helpers\Html
-use yii\widgets\ActiveForm
.issue-form

  -$form = ActiveForm::begin();

  !=$form->field($model, 'tracker_id')->textInput()
  !=$form->field($model, 'project_id')->textInput()
  !=$form->field($model, 'subject')->textInput(['maxlength' => true])
  !=$form->field($model, 'description')->textarea(['rows' => 6])
  !=$form->field($model, 'issue_category_id')->textInput()
  !=$form->field($model, 'user_id')->textInput()
  !=$form->field($model, 'issue_priority_id')->textInput()
  !=$form->field($model, 'version_id')->textInput()
  !=$form->field($model, 'assigned_to')->textInput()
  //- !=$form->field($model, 'created')->textInput()
  //- !=$form->field($model, 'modified')->textInput()
  !=$form->field($model, 'done_ratio')->textInput()
  !=$form->field($model, 'status')->textInput(['maxlength' => true])
  !=$form->field($model, 'closed')->textInput()
  !=$form->field($model, 'pre_done_ratio')->textInput()
  !=$form->field($model, 'updated_by')->textInput()
  !=$form->field($model, 'last_comment')->textInput()
  .form-group
    !=Html::submitButton($model->isNewRecord ? Yii::t('app', 'Create') : Yii::t('app', 'Update'), ['class' => $model->isNewRecord ? 'btn btn-success' : 'btn btn-primary'])

  -ActiveForm::end()
