-use yii\helpers\Html
-use yii\helpers\Url
-$view->title=Yii::t('app','Activity')
-$view->beginBlock('content-header')
|#{$view->title} <small>all your bugs are belong to us</small>
-$view->endBlock()
