header#top.navbar.navbar-inverse.navbar-static
  .container
    #main-nav-head.navbar-header
      a.navbar-brand(href=Yii::$app->homeUrl)
        span
          img(src=Yii::getAlias('@web/bugitor_white.svg') alt="Bugitor" width="56" height="56")
          |Bugitor
      button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
        span.inverse
          |Menu
    .navbar-collapse.collapse.navbar-right
      include _navigation.php
