header#top.navbar.navbar-inverse.navbar-static
  .container
    #main-nav-head.navbar-header
      a.navbar-brand(href=Yii::$app->homeUrl)
        span
          img(src=Yii::getAlias('@web/bugitor_white.svg') alt="Bugitor" width="36" height="36")
          span.brand-title Bugitor
      button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
        i.fa.fa-inverse.fa-bars
    .navbar-collapse.collapse.navbar-right
      include _navigation.php
