#container li {
   background: url(sprites.png) no-repeat top left;
}

.sprite-authent{ background-position: 0 0; width: 22px; height: 22px; } 
.sprite-comment{ background-position: 0 -72px; width: 22px; height: 22px; } 
.sprite-file{ background-position: 0 -144px; width: 22px; height: 22px; } 
.sprite-info{ background-position: 0 -216px; width: 22px; height: 22px; } 
.sprite-notifications{ background-position: 0 -288px; width: 22px; height: 22px; } 
.sprite-options{ background-position: 0 -360px; width: 22px; height: 22px; } 
.sprite-package{ background-position: 0 -432px; width: 22px; height: 22px; } 
.sprite-plugin{ background-position: 0 -504px; width: 22px; height: 22px; } 
.sprite-projects{ background-position: 0 -576px; width: 22px; height: 22px; } 
.sprite-role{ background-position: 0 -648px; width: 22px; height: 22px; } 
.sprite-settings{ background-position: 0 -720px; width: 22px; height: 22px; } 
.sprite-tracker{ background-position: 0 -792px; width: 22px; height: 22px; } 
.sprite-users{ background-position: 0 -864px; width: 22px; height: 22px; } 
.sprite-workflow{ background-position: 0 -936px; width: 22px; height: 22px; } 
