-use yii\widgets\Breadcrumbs;
#page-wrapper
  section.content-header
    if (isset($view->blocks['content-header']))
      h1
        !=$view->blocks['content-header']

  section.content
    //-!=Alert::widget()
    !=$content
