aside.main-sidebar
  section.sidebar
    // sidebar user panel
    .user-panel
      .pull-left.image
        if (Yii::$app->user->isGuest)
          !=\cebe\gravatar\Gravatar::widget(['email' => '','options' => ['alt' => '', 'class' => 'img-circle'], 'size' => 45])
        else
          !=\cebe\gravatar\Gravatar::widget(['email' => Yii::$app->user->identity->email,'options' => ['alt' => 'Jacob Moen', 'class' => 'img-circle'], 'size' => 45])
      .pull-left.info
        if (Yii::$app->user->isGuest)
          p
            !=Yii::t('app','Not signed in')
          a(href="#")
            i.fa.fa-circle.text-gray
              !=Yii::t('app','Offline')
        else
          p #{Yii::$app->user->identity->username}
          a(href="#")
            i.fa.fa-circle.text-success Online

    !=$view->render('//menu/sidebar')
