-use frontend\assets\AppAsset
-use yii\helpers\Html
-dmstr\web\AdminLteAsset::register($view)
-$view->beginPage()

!!! 5
html(lang=Yii::$app->language)
  head
    meta(charset=Yii::$app->charset)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    !=Html::csrfMetaTags()
    title #{$view->title}
    -$view->head()
  body.login-page
    -$view->beginBody()
    !=$content
    -$view->endBody()
-$view->endPage()
