-use yii\helpers\Html
-use yii\helpers\Url
nav.navbar.navbar-inverse.navbar-fixed-top
  .navbar-header
    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    img(src="/android-icon-36x36.png")
    a.navbar-brand(href=Yii::$app->homeUrl)
      !=Yii::$app->name

  .collapse.navbar-collapse.navbar-ex1-collapse

    !=$view->render('//menu/sidebar')

    ul.nav.navbar-nav.navbar-right.navbar-user
      li.dropdown.messages-dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          i.fa.fa-envelope
            |Messages
            span.badge
            |2
            b.caret
        ul.dropdown-menu
          li.dropdown-header 2 New Messages
          li.message-preview
            a(href="#")
              span.avatar
                i.fa.fa-bell
              span.message Security alert
          li.divider
          li.message-preview
            a(href="#")
              span.avatar
                i.fa.fa-bell
              span.message Security alert
          li.divider
          li
            a(href="#")
              |Go to Inbox
              span.badge 2
      li.dropdown.user-dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          i.fa.fa-user
          |Steve Miller
          b.caret
        ul.dropdown-menu
          li
            a(href="#")
              i.fa.fa-user Profile
          li
            a(href="#")
              i.fa.fa-gear Settings
          li.divider
          li
            a(href="#")
              i.fa.fa-power-off Log Out
