author:{author}
date:{date}
desc:{desc|urlescape}
manifest:{manifest}
node:{node}
rev:{rev}
parents:{parents}
branches:{branches}
tags:
{tags}
files:
{files}
file_adds:
{file_adds}
file_dels:
{file_dels}
file_copies:
{file_copies}
----
