/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(images/h1.png); 
}
.markItUp .markItUpButton2 a {
	background-image:url(images/h2.png); 
}
.markItUp .markItUpButton3 a {
	background-image:url(images/h3.png); 
}
.markItUp .markItUpButton4 a {
	background-image:url(images/h4.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(images/h5.png); 
}
.markItUp .markItUpButton6 a {
	background-image:url(images/h6.png); 
}
.markItUp .markItUpButton7 a {
	background-image:url(images/paragraph.png); 
}

.markItUp .markItUpButton8 a {
	background-image:url(images/bold.png);
}
.markItUp .markItUpButton9 a {
	background-image:url(images/italic.png);
}
.markItUp .markItUpButton10 a {
	background-image:url(images/stroke.png);
}

.markItUp .markItUpButton11 a {
	background-image:url(images/list-bullet.png);
}
.markItUp .markItUpButton12 a {
	background-image:url(images/list-numeric.png);
}

.markItUp .markItUpButton13 a {
	background-image:url(images/picture.png); 
}
.markItUp .markItUpButton14 a {
	background-image:url(images/link.png);
}

.markItUp .markItUpButton15 a	{
	background-image:url(images/quotes.png);
}
.markItUp .markItUpButton16 a	{
	background-image:url(images/code.png);
}

.markItUp .preview a {
	background-image:url(images/preview.png);
}

.markItUp .smilies a {
	background-image:url(/themes/classic/images/smilies/icon_smile.gif);
}
.markItUp .smilies .smile a {
	background-image:url(/themes/classic/images/smilies/icon_smile.gif);
}
.markItUp .smilies .big_grin a {
	background-image:url(/themes/classic/images/smilies/icon_biggrin.gif);
}
.markItUp .smilies .cheesy a {
	background-image:url(/themes/classic/images/smilies/icon_cheesygrin.gif);
}
.markItUp .smilies .confused a {
	background-image:url(/themes/classic/images/smilies/icon_confused.gif);
}
.markItUp .smilies .cool a {
	background-image:url(/themes/classic/images/smilies/icon_cool.gif);
}
.markItUp .smilies .cry a {
	background-image:url(/themes/classic/images/smilies/icon_cry.gif);
}
.markItUp .smilies .eek a {
	background-image:url(/themes/classic/images/smilies/icon_eek.gif);
}
.markItUp .smilies .evil a {
	background-image:url(/themes/classic/images/smilies/icon_evil.gif);
}
.markItUp .smilies .frown a {
	background-image:url(/themes/classic/images/smilies/icon_frown.gif);
}
.markItUp .smilies .mad a {
	background-image:url(/themes/classic/images/smilies/icon_mad.gif);
}
.markItUp .smilies .neutral a {
	background-image:url(/themes/classic/images/smilies/icon_neutral.gif);
}
.markItUp .smilies .razz a {
	background-image:url(/themes/classic/images/smilies/icon_razz.gif);
}
.markItUp .smilies .blush a {
	background-image:url(/themes/classic/images/smilies/icon_redface.gif);
}
.markItUp .smilies .roll_eyes a {
	background-image:url(/themes/classic/images/smilies/icon_rolleyes.gif);
}
.markItUp .smilies .sad a {
	background-image:url(/themes/classic/images/smilies/icon_sad.gif);
}
.markItUp .smilies .surprised a {
	background-image:url(/themes/classic/images/smilies/icon_surprised.gif);
}
.markItUp .smilies .twisted a {
	background-image:url(/themes/classic/images/smilies/icon_twisted.gif);
}
.markItUp .smilies .wink a {
	background-image:url(/themes/classic/images/smilies/icon_wink.gif);
}
