<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

	<selenium>
		<browser name="Firefox" browser="*firefox" />
	</selenium>

    <filter>
        <blacklist>
            <directory suffix=".php">C:/wamp/yii</directory>
            <directory suffix=".php">C:/wamp/bugitor/assets</directory>
        </blacklist>
        <whitelist addUncoveredFilesFromWhitelist="true">
           <directory suffix=".php">C:/wamp/bugitor</directory>
           <exclude>
              <directory suffix=".php">C:/wamp/bugitor/assets</directory>
            </exclude>
    </whitelist>
    </filter>
</phpunit>