{{ use('yii/helpers/Html')}}
{{ use('yii/widgets/ActiveForm')}}
<div class="issue-form">
    {% set form = active_form_begin({
        'id' : 'issue-form',
    }) %}
        {{ form.field(model, 'tracker_id').textInput() | raw }}
        {{ form.field(model, 'project_id').textInput() | raw }}
        {{ form.field(model, 'subject').textInput({'maxlength': 255}) | raw }}
        {{ form.field(model, 'description').textArea({ 'rows' : 6, }) | raw }}
        {{ form.field(model, 'issue_category_id').textInput() | raw }}
        {{ form.field(model, 'user_id').textInput() | raw }}
        {{ form.field(model, 'issue_priority_id').textInput() | raw }}
        {{ form.field(model, 'version_id').textInput() | raw }}
        {{ form.field(model, 'assigned_to').textInput() | raw }}
        {{ form.field(model, 'created').textInput() | raw }}
        {{ form.field(model, 'modified').textInput() | raw }}
        {{ form.field(model, 'done_ratio').textInput() | raw }}
        {{ form.field(model, 'status').textInput() | raw }}
        {{ form.field(model, 'closed').textInput() | raw }}
        {{ form.field(model, 'pre_done_ratio').textInput() | raw }}
        {{ form.field(model, 'updated_by').textInput() | raw }}
        {{ form.field(model, 'last_comment').textInput() | raw }}
    <div class="form-group">
        {{ html.submitButton(model.isNewRecord ? 'Create' : 'Update', {'class': model.isNewRecord ? 'btn btn-success' : 'btn btn-primary'}) | raw }}
    </div>
    {{ active_form_end() }}
</div>
