{{use('yii/helpers/Html')}}
{{use('yii/bootstrap/ActiveForm')}}
{{use('yii/bootstrap/Tabs')}}

<div class="issue-form">

    {% set form = active_form_begin({
        'layout': 'horizontal',
        'enableClientValidation': false
    }) %}

    <div class="">
        {{form.errorSummary(model) | raw}}
        {{this.block_begin('main') | raw}}

        <p>
            
            {{ form.field(model, 'tracker_id').textInput()| raw }}
            {{ form.field(model, 'project_id').textInput()| raw }}
            {{ form.field(model, 'subject').textInput({'maxlength' : 255})| raw }}
            {{ form.field(model, 'description').textarea({'rows' : 6})| raw }}
            {{ form.field(model, 'user_id').textInput()| raw }}
            {{ form.field(model, 'issue_priority_id').textInput()| raw }}
            {{ form.field(model, 'status').textInput({'maxlength' : 255})| raw }}
            {{ form.field(model, 'closed').textInput()| raw }}
            {{ form.field(model, 'pre_done_ratio').textInput()| raw }}
            {{ form.field(model, 'issue_category_id').textInput()| raw }}
            {{ form.field(model, 'version_id').textInput()| raw }}
            {{ form.field(model, 'assigned_to').textInput()| raw }}
            {{ form.field(model, 'done_ratio').textInput()| raw }}
            {{ form.field(model, 'updated_by').textInput()| raw }}
            {{ form.field(model, 'last_comment').textInput()| raw }}
            {{ form.field(model, 'created').textInput()| raw }}
            {{ form.field(model, 'modified').textInput()| raw }}
        </p>
        {{this.block_end('main')}}

        

        {{ tabs_widget({
            'encodeLabels': false,
            'items': [        {
            'label'   : label,
            'content' : this.blocks['main'],
            'active'  : true,
        },]
        }) }}
        <hr/>
        {{ html.submitButton('<span class="glyphicon glyphicon-check"></span> Save', {'class' : 'btn btn-primary'}) | raw }}

        {{ active_form_end() }}

    </div>

</div>
