-use yii\helpers\Html
-$view->title = Yii::t('app', 'Update {modelClass}: ', [
    'modelClass' => 'Issue',
]) . ' ' . $model->id
-$view->params['breadcrumbs'][] = ['label' => Yii::t('app', 'Issues'), 'url' => ['index']]
-$view->params['breadcrumbs'][] = ['label' => $model->id, 'url' => ['view', 'id' => $model->id]]
-$view->params['breadcrumbs'][] = Yii::t('app', 'Update');
.issue-update
  h1
    !=Html::encode($view->title)
  !=$view->render('_form', ['model' => $model,])
