-use yii\helpers\Html
$view->title = 'Update Issue: ' . ' ' . $model->id
$view->params['breadcrumbs'][] = ['label' => 'Issues', 'url' => ['index']]
$view->params['breadcrumbs'][] = ['label' => $model->id, 'url' => ['view', 'id' => $model->id]]
$view->params['breadcrumbs'][] = 'Update';
.issue-update
  h1!=Html::encode($view->title)
  !=$view->render('_form.jade', ['model' => $model,])
