-use('yii/helpers/Html')
-use('yii/widgets/DetailView')
-use('yii/grid/GridView')
-use('yii/widgets/Pjax')
-use('yii/bootstrap/Tabs')
-use('Yii')

-$view->title 'Issue View #{model.id}'
-$view->params['breadcrumbs'][] = ['label' => 'Issues', 'url' => ['index']]
-$view->params['breadcrumbs'][] = ['label' => (string)$model->id, 'url' => ['view', 'id' => $model->id]]
-$view->params['breadcrumbs'][] = 'View'

.issue-view
  p.pull-left
    !=Html::a('<span class="glyphicon glyphicon-pencil"></span> Edit', url('update' , ['id' => model.id]), ['class' => 'btn btn-info'] )
    !=Html::a('<span class="glyphicon glyphicon-plus"></span> New Issue', ['create'], ['class' : 'btn btn-success'] )

  p.pull-right
      !=Html::a('<span class="glyphicon glyphicon-list"></span> List', ['index'], ['class' : 'btn btn-default'] )
  .clearfix
  
  h3 #{ $model.id }

  -$view->beginBlock('common\models\Issue')

  -
    $attributes = ['id','tracker_id','project_id','subject','description:ntext',
    'issue_category_id','user_id','issue_priority_id','version_id',
    'assigned_to','created','modified','done_ratio','status',
    'closed','pre_done_ratio','updated_by','last_comment',]
  
  !=DetailView::widget(['model' => model,'attributes' => $attributes])

  hr

  -
    $opts = ['class' => 'btn btn-danger','data-confirm' => Yii.t('app', 'Are you sure to delete this item?'),
    'data-method' => 'post',]
  !=Html::a('<span class="glyphicon glyphicon-trash"></span> Delete', ['delete': '', 'id' => $model.id], $opts)

  -$view->endBlock() }}
