#container li {
   background: url(smilies.png) no-repeat top left;
}

.sprite-icon_biggrin{ background-position: 0 0; width: 15px; height: 15px; } 
.sprite-icon_cheesygrin{ background-position: 0 -65px; width: 15px; height: 15px; } 
.sprite-icon_confused{ background-position: 0 -130px; width: 15px; height: 15px; } 
.sprite-icon_cool{ background-position: 0 -195px; width: 15px; height: 15px; } 
.sprite-icon_cry{ background-position: 0 -260px; width: 15px; height: 15px; } 
.sprite-icon_eek{ background-position: 0 -325px; width: 15px; height: 15px; } 
.sprite-icon_evil{ background-position: 0 -390px; width: 15px; height: 15px; } 
.sprite-icon_frown{ background-position: 0 -455px; width: 15px; height: 15px; } 
.sprite-icon_mad{ background-position: 0 -520px; width: 15px; height: 15px; } 
.sprite-icon_neutral{ background-position: 0 -585px; width: 15px; height: 15px; } 
.sprite-icon_razz{ background-position: 0 -650px; width: 15px; height: 15px; } 
.sprite-icon_redface{ background-position: 0 -715px; width: 15px; height: 15px; } 
.sprite-icon_rolleyes{ background-position: 0 -780px; width: 15px; height: 15px; } 
.sprite-icon_sad{ background-position: 0 -845px; width: 15px; height: 15px; } 
.sprite-icon_smile{ background-position: 0 -910px; width: 15px; height: 15px; } 
.sprite-icon_surprised{ background-position: 0 -975px; width: 15px; height: 15px; } 
.sprite-icon_twisted{ background-position: 0 -1040px; width: 15px; height: 15px; } 
.sprite-icon_wink{ background-position: 0 -1105px; width: 15px; height: 15px; } 
