doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description", content="The Yii and Elm Powered Issue Tracker")
        title Bugitor Issue Tracker
        script(type="text/javascript" src="Main.js")
        link(rel="stylesheet" href="bootstrap.min.css")
        link(rel="stylesheet" href="styles.css")

    body
        script.
            var d = Elm.Main.fullscreen();
