doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description", content="The beginnings of a great, typesafe application")
        title Bugitor Issue Tracker
        script(type="text/javascript" src="Main.js")
        link(rel="stylesheet" href="css/main.css")

    body
        script.
            var d = Elm.Main.fullscreen();
