#container li {
   background: url(smilies.png) no-repeat top left;
}
.sprite-smiley-cool{ background-position: 0 0; width: 18px; height: 18px; } 
.sprite-smiley-cry{ background-position: 0 -68px; width: 18px; height: 18px; } 
.sprite-smiley-embarassed{ background-position: 0 -136px; width: 18px; height: 18px; } 
.sprite-smiley-foot-in-mouth{ background-position: 0 -204px; width: 18px; height: 18px; } 
.sprite-smiley-frown{ background-position: 0 -272px; width: 18px; height: 18px; } 
.sprite-smiley-innocent{ background-position: 0 -340px; width: 18px; height: 18px; } 
.sprite-smiley-kiss{ background-position: 0 -408px; width: 18px; height: 18px; } 
.sprite-smiley-laughing{ background-position: 0 -476px; width: 18px; height: 18px; } 
.sprite-smiley-money-mouth{ background-position: 0 -544px; width: 18px; height: 18px; } 
.sprite-smiley-sealed{ background-position: 0 -612px; width: 18px; height: 18px; } 
.sprite-smiley-smile{ background-position: 0 -680px; width: 18px; height: 18px; } 
.sprite-smiley-surprised{ background-position: 0 -748px; width: 18px; height: 18px; } 
.sprite-smiley-tongue-out{ background-position: 0 -816px; width: 18px; height: 18px; } 
.sprite-smiley-undecided{ background-position: 0 -884px; width: 18px; height: 18px; } 
.sprite-smiley-wink{ background-position: 0 -952px; width: 18px; height: 18px; } 
.sprite-smiley-yell{ background-position: 0 -1020px; width: 18px; height: 18px; } 
