-use yii\helpers\Html
-use yii\widgets\ActiveForm
-use kartik\markdown\MarkdownEditor
.project-form
  -$form = ActiveForm::begin();
  !=$form->field($model, 'name')->textInput()
  !=MarkdownEditor::widget(['model' => $model,'attribute' => 'description',]);
  //-!=$form->field($model, 'description')->textarea(['rows' => 6])
  !=$form->field($model, 'homepage')->textInput()
  !=$form->field($model, 'public')->checkbox()
  .form-group
    !=Html::submitButton($model->isNewRecord ? Yii::t('app', 'Create') : Yii::t('app', 'Update'), ['class' => $model->isNewRecord ? 'btn btn-success' : 'btn btn-primary'])
  -ActiveForm::end()
