{{use('yii/helpers/Html')}}
{{use('yii/bootstrap/ActiveForm')}}
{{use('yii/bootstrap/Tabs')}}

<div class="user-form">

    {% set form = active_form_begin({
        'layout': 'horizontal',
        'enableClientValidation': false
    }) %}

    <div class="">
        {{form.errorSummary(model) | raw}}
        {{this.block_begin('main') | raw}}

        <p>
            
			{{ form.field(model, 'status').textInput()| raw }}
        </p>
        {{this.block_end('main')}}

        

        {{ tabs_widget({
            'encodeLabels': false,
            'items': [        {
            'label'   : label,
            'content' : this.blocks['main'],
            'active'  : true,
        },]
        }) }}
        <hr/>
        {{ html.submitButton('<span class="glyphicon glyphicon-check"></span> Save', {'class' : 'btn btn-primary'}) | raw }}

        {{ active_form_end() }}

    </div>

</div>
