
{{use('yii/helpers/Html')}}

{{ set(this, 'title', 'Create') }}

{{ set(this, 'params', 
    { 'breadcrumbs' : 
        [ 
            {'label': 'Users', 
                'url': ['index']}, 
            {'label' : 'Create'}, 
        ]
    }
    )
}}
<div class="user-create">

    <p class="pull-left">
        {{ html.a('Cancel', url.previous(), {'class': 'btn btn-default'}) |raw}}
    </p>
    <div class="clearfix"></div>

    {{ this.render('_form.html', {
        'model': model
    }) |raw }}

</div>
