
{{use('yii/helpers/Html')}}

{{ set(this, 'title', 'User Update #' ~model.id ) }}

{{ set(this, 'params', 
    { 'breadcrumbs' : 
        [ 
            {'label': 'Users', 
                'url': ['index']}, 
            {'label' : model.id, 'url' : url('view', {'id': model.id})},
            {'label' : 'Edit'}
        ]
    })
}}

{#
$this->params['breadcrumbs'][] = ['label' => 'Users', 'url' => ['index']];
$this->params['breadcrumbs'][] = ['label' => (string)$model->id, 'url' => {'view': '', 'id' : model.id}];
$this->params['breadcrumbs'][] = 'Edit'; #}

<div class="user-update">

    <p>
        {{ html.a('<span class="glyphicon glyphicon-eye-open"></span> View', url('view', {'id' : model.id}), {'class' : 'btn btn-info'} ) | raw }}
    </p>

    {{ this.render('_form.html', {
        'model': model
    }) |raw }}

</div>
