{{use('yii/helpers/Html')}}
{{use('yii/widgets/DetailView')}}
{{use('yii/grid/GridView')}}
{{use('yii/widgets/Pjax')}}
{{use('yii/bootstrap/Tabs')}}
{{use('Yii')}}

{{set(this, 'title', 'User View #{model.id} ') }}

{{ set(this, 'params', 
    { 'breadcrumbs' : 
        [ 
            {'label': 'Users', 
                'url': ['index']}, 
            {'label' : 'View'}, 
        ]
    }
    )
}}

<div class="user-view">

    <p class='pull-left'>
        {{ html.a('<span class="glyphicon glyphicon-pencil"></span> Edit', url('update' , {'id' : model.id}), {'class' : 'btn btn-info'} ) | raw }}

        {{ html.a('<span class="glyphicon glyphicon-plus"></span> New User', ['create'], {'class' : 'btn btn-success'} ) | raw }}
    </p>

    <p class='pull-right'>
        {{ html.a('<span class="glyphicon glyphicon-list"></span> List', ['index'], {'class' : 'btn btn-default'} ) | raw }}
    </p><div class='clearfix'></div>

    
    <h3>
        {{ model.id }}    </h3>

    {{ this.block_begin('common\models\User') }}

    {{ detail_view_widget({
        'model': model,
        'attributes': [
    			'id',
			'username',
			'auth_key',
			'password_hash',
			'password_reset_token',
			'email:email',
			'status',
			'created_at',
			'updated_at',
    ],
    }) }}

    <hr/>

    {{ html.a('<span class="glyphicon glyphicon-trash"></span> 
    Delete', url('delete', {'id' : model.id}), {
    'class': 'btn btn-danger',
    'data-confirm': 'Are you sure you want to delete this item?',
    'data-method': 'post',
    } ) | raw }}

    {{ this.block_end() }}


    
    {{ tabs_begin({
        'id' : 'relation-tabs',
        'encodeLabels' : false,
        'items' : [     {
        'label'  : '<span class="glyphicon glyphicon-asterisk"></span> label',
        'content': attribute(this.blocks, 'common\models\User'),
        'active' : true,
    }, ]
    }) }}
</div>
