# The scripts in this directory should never be invoked from the web.
# They are meant to be run via as CLI scripts called via CVS's own
# hooks (see README.txt for details). Therefore, we prevent them from
# being accessible via the web at all.

<FilesMatch "\.php$">
  Order allow,deny
</FilesMatch>

# $Id: .htaccess,v 1.1 2007/07/19 17:57:54 jpetso Exp $
