-use yii\helpers\Html
-use yii\bootstrap\ActiveForm
-$view->title = 'Request password reset'
-$view->params['breadcrumbs'][] = $view->title;
.site-request-password-reset
  %h1 #{$view->title}
  %p Please fill out your email. A link to reset password will be sent there.
  .row
    .col-lg-5
      -$form = ActiveForm::begin(['id' => 'request-password-reset-form'])
      !=$form->field($model, 'email')
      .form-group
        !=Html::submitButton('Send', ['class' => 'btn btn-primary', 'name' => 'login-button'])
      -ActiveForm::end()
