-use yii\helpers\Html
-use yii\bootstrap\ActiveForm
-$view->title = 'Request password reset'
-$view->params['breadcrumbs'][] = $view->title;
-
  $fieldOptions1 = [
  'options' => ['class' => 'form-group has-feedback'],
  'inputTemplate' => "{input}<span class='glyphicon glyphicon-envelope form-control-feedback'></span>"
  ]
.login-box
  .login-logo Bugitor
  .login-box-body
    p.login-box-msg Please fill out your email. A link to reset password will be sent there.
    -$form = ActiveForm::begin(['id' => 'request-password-reset-form'])
    !=$form->field($model, 'email', $fieldOptions1)->label(false)->textInput(['placeholder' => $model->getAttributeLabel('email')])
    .row
      .col-xs-8
      .col-xs-4
        !=Html::submitButton('Send', ['class' => 'btn btn-primary btn-block btn-flat', 'name' => 'login-button'])
    -ActiveForm::end()
    !=Html::a('Sign in', ['site/login'])
