-use yii\helpers\Html
-use yii\bootstrap\ActiveForm
-$view->title = 'Reset password'
-$view->params['breadcrumbs'][] = $view->title;
-
  $fieldOptions2 = [
  'options' => ['class' => 'form-group has-feedback'],
  'inputTemplate' => "{input}<span class='glyphicon glyphicon-lock form-control-feedback'></span>"
  ]
.login-box
  .login-logo Bugitor
  .login-box-body
    p.login-box-msg Please choose your new password:
    -$form = ActiveForm::begin(['id' => 'reset-password-form'])
    !=$form->field($model, 'password', $fieldOptions2)->label(false)->passwordInput(['placeholder' => $model->getAttributeLabel('password')])
    .row
      .col-xs-8
      .col-xs-4
        !=Html::submitButton('Save', ['class' => 'btn btn-primary btn-block btn-flat', 'name' => 'login-button'])
    -ActiveForm::end()
