-use yii\helpers\Html
-use yii\bootstrap\ActiveForm
-$view->title = 'Reset password'
-$view->params['breadcrumbs'][] = $view->title;
.site-reset-password
  h1 #{$view->title}
  p Please choose your new password:
  .row
    .col-lg-5
      -$form = ActiveForm::begin(['id' => 'reset-password-form'])
      !=$form->field($model, 'password')->passwordInput()
      .form-group
        !=Html::submitButton('Save', ['class' => 'btn btn-primary', 'name' => 'login-button'])
      -ActiveForm::end()
