{{ use('yii/helpers/Html')}}
{{ use('yii/bootstrap/ActiveForm')}}
{{ set(this, 'title', 'Reset password') }}
<div class="site-reset-password">
    <h1>{{this.title}}</h1>

    <p>Please choose your new password:</p>

    <div class="row">
        <div class="col-lg-5">
            {% set form = active_form_begin({
                'id' : 'reset-password-form',
            }) %}
            {{ form.field(model, 'password').passwordInput() | raw }}
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            {{ active_form_end() }}
        </div>
    </div>
</div>
