{{ use('yii/helpers/Html')}}
{{ use('yii/bootstrap/ActiveForm')}}
{{ set(this, 'title', 'Signup') }}
{{ set(this, 'params', { 'breadcrumbs' : { '' : this.title } }) }}
<div class="site-signup">
    <h1>{{this.title}}</h1>

    <p>Please fill out the following fields to signup:</p>

    <div class="row">
        <div class="col-lg-5">
            {% set form = active_form_begin({
                'id' : 'signup-form',
            }) %}
            {{ form.field(model, 'username') | raw }}
            {{ form.field(model, 'email') | raw }}
            {{ form.field(model, 'password').passwordInput() | raw }}
                <div class="form-group">
                    
{{ html.submitButton('Signup', {
                'class': 'btn btn-primary',
            }) | raw }}
                    </div>
            {{ active_form_end() }}
        </div>
    </div>
</div>
