-use yii\helpers\Html
//-use kartik\markdown\Markdown
.col-md-6
  .panel.panel-default
    .panel-heading
      h3.panel-title
        !=$model->name
    .panel-body
      .media
        .media-left
          !=Html::img('/uploads/' . $model->logo)
        .media-body
          h4.media-heading
            !=$model->name
          //-!=Markdown::convert($model->description)
    .panel-footer
      !=Html::a(Yii::t('app', 'View project'), ['project/overview', 'identifier' => $model->identifier])
